/*!
 * fullPage 3.0.2
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.fp-right {
    right: 17px;
}
#fp-nav.fp-left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
    bottom: 17px;
}
.fp-slidesNav.fp-top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}@charset "UTF-8";
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

@font-face {
  font-family: 'UntitledSans-Medium';
  src: url("../fonts/UntitledSans-Medium.woff2") format("woff2"), url("../fonts/UntitledSans-Medium.woff") format("woff"), url("../fonts/UntitledSans-Medium.ttf") format("truetype"), url("../fonts/UntitledSans-Medium.svg#UntitledSans-Medium") format("svg");
  font-style: bold;
  font-weight: 600; }

@font-face {
  font-family: 'UntitledSans-Regular';
  src: url("../fonts/UntitledSans-Regular.woff2") format("woff2"), url("../fonts/UntitledSans-Regular.woff") format("woff"), url("../fonts/UntitledSans-Regular.ttf") format("truetype"), url("../fonts/UntitledSans-Regular.svg#UntitledSans-Regular") format("svg");
  font-weight: 500;
  font-style: normal; }

.text-body, h1, html,
body {
  font-family: 'UntitledSans-Regular'; }

.text-medium, h4, .accordion li .btn-collapse, .block-get-involved .accordion li .btn-collapse {
  font-family: 'UntitledSans-Medium'; }

.body-size, h4, html,
body, .block-who-we-are .nav a {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: -0.0125em;
  word-spacing: 0.0125em; }
  @media only screen and (max-width: 1024px) {
    .body-size, h4, html,
    body, .block-who-we-are .nav a {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .body-size, h4, html,
    body, .block-who-we-are .nav a {
      font-size: 14px; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    .body-size, h4, html,
    body, .block-who-we-are .nav a {
      font-size: 16px; } }

.small-size, small, small p, .block-video .info {
  font-size: 10px;
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: -0.01em;
  word-spacing: 0.01em; }
  @media only screen and (max-width: 767px) {
    .small-size, small, small p, .block-video .info {
      letter-spacing: 0.01em;
      font-size: 8px; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    .small-size, small, small p, .block-video .info {
      letter-spacing: 0.01em;
      font-size: 10px; } }

.size-24 {
  font-size: 24px;
  letter-spacing: -0.045em;
  line-height: 125%; }

h1 {
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: -.06em;
  word-spacing: 0.06em; }
  h1 .arrow {
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    overflow: visible;
    width: 60px;
    margin-top: 10px;
    margin-left: 40px;
    cursor: pointer;
    transform: translateX(0px); }
    h1 .arrow #downline {
      transition: .5s ease;
      transform: scaleY(1);
      transform-origin: center; }
    h1 .arrow #sideways {
      transition: .5s ease;
      transform: translateX(0px); }
    h1 .arrow .cls-2 {
      fill: white; }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    h1 .arrow {
      width: 45px; } }
  @media only screen and (max-width: 480px) {
    h1 .arrow {
      width: 45px; } }
  @media screen and (min-width: 374px) and (max-width: 412px) {
    h1 .arrow {
      width: 35px; } }

h2 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: -0.015em;
  word-spacing: 0.015em; }

h3 {
  font-size: 10px;
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: -0.01em;
  word-spacing: 0.01em; }

h4 {
  margin-bottom: 25px; }

p {
  margin-bottom: 25px;
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: -0.0125em;
  word-spacing: 0.0125em; }
  @media only screen and (max-width: 1024px) {
    p {
      margin-bottom: 20px; } }

b,
strong {
  font-weight: 600;
  letter-spacing: -0.02em; }

@media screen and (min-width: 0px) and (max-width: 599px) {
  h1 {
    font-size: 30px;
    letter-spacing: -.025em;
    word-spacing: 0.025em; }
  h2 {
    font-size: 18px;
    letter-spacing: -0.02em;
    word-spacing: 0.02em; }
  p {
    font-size: 14px;
    letter-spacing: -0.01em;
    word-spacing: 0.005em; } }

@media screen and (min-width: 600px) and (max-width: 1024px) {
  h1 {
    font-size: 42px;
    letter-spacing: -.035em;
    word-spacing: 0.035em; }
  h2 {
    font-size: 22px;
    letter-spacing: -0.02em;
    word-spacing: 0.02em; }
  p {
    font-size: 16px;
    letter-spacing: -0.01em;
    word-spacing: 0.005em; } }

@media screen and (min-width: 413px) and (max-width: 899px) {
  h1 {
    font-size: 35px;
    letter-spacing: -.035em;
    word-spacing: 0.025em; }
  p, h4 {
    font-size: 16px; } }

@media screen and (min-width: 1801px) and (max-width: 10000px) {
  h1 {
    font-size: 50px;
    font-size: 3.47vw;
    font-size: 2.8em; }
  h2 {
    font-size: 24px;
    font-size: 1.67vw;
    font-size: 1.5em; }
  .size-24 {
    font-size: 24px !important;
    font-size: 1.67vw !important; }
  h4,
  body, .body-size, h4, html,
  body, .block-who-we-are .nav a {
    font-size: 18px !important;
    font-size: 1.25vw !important;
    font-size: 1.1em !important; }
  small,
  small p {
    font-size: 10px !important;
    font-size: 0.69vw !important;
    font-size: .73em !important; } }

@media screen and (min-width: 1100px) and (max-width: 1800px) {
  h1 {
    font-size: 50px;
    font-size: 3.47vw; }
  .size-24 {
    font-size: 24px !important;
    font-size: 1.67vw !important; }
  h4,
  body, .body-size, h4, html,
  body, .block-who-we-are .nav a {
    font-size: 18px !important;
    font-size: 1.25vw !important; }
  small,
  small p {
    font-size: 10px !important;
    font-size: 0.69vw !important; } }

@media screen and (min-width: 900px) and (max-width: 1099px) {
  h1 {
    font-size: 40px;
    font-size: 3.8vw; }
  .size-24 {
    font-size: 22px !important;
    font-size: 2vw !important; }
  h4,
  body, .body-size, h4, html,
  body, .block-who-we-are .nav a {
    font-size: 16px !important;
    font-size: 1.45vw !important; }
  small,
  small p {
    font-size: 10px !important;
    font-size: 0.75vw !important; } }

html,
body {
  position: relative;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  line-height: 90%;
  color: white;
  padding: 0;
  margin: 0; }
  html.loading,
  body.loading {
    overflow: hidden !important; }
  @media only screen and (max-width: 767px) {
    html.mobile-menu,
    body.mobile-menu {
      overflow: hidden !important; } }

.back-part {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1; }

.main {
  margin-bottom: calc(100vh + 25px);
  position: relative;
  z-index: 10; }
  .main.clear-left .sticky-el {
    transform: translateX(-100%); }
  .main.clear-left section .no-gutters:after {
    width: 0 !important; }

.wrap {
  margin-left: 20px;
  margin-right: 20px; }
  @media only screen and (max-width: 767px) {
    .wrap {
      margin-left: 10px;
      margin-right: 10px; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    .wrap {
      margin-left: 20px;
      margin-right: 20px; } }
  @media screen and (min-width: 374px) and (max-width: 412px) {
    .wrap {
      margin-left: 20px;
      margin-right: 20px; } }

.menu {
  padding: 0; }
  .menu li {
    list-style: none; }

a {
  padding-bottom: 1px; }
  a:hover {
    cursor: pointer;
    text-decoration: none;
    border: 0 !important;
    color: white; }

hr {
  margin: 0;
  border-top: 1px solid #DDDDDD; }

.col-left {
  position: absolute;
  z-index: 100;
  width: 50%;
  height: 100%;
  left: 0; }
  @media only screen and (max-width: 767px) {
    .col-left {
      width: 100%;
      height: auto; } }

#back-part {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1; }
  #back-part > div {
    max-width: 100%; }
  #back-part .footer-sticky {
    max-width: 100%;
    min-height: 600px;
    max-height: 1200px;
    height: 100vh; }
    #back-part .footer-sticky footer {
      margin-top: 0;
      position: absolute;
      visibility: visible;
      z-index: 100;
      opacity: 1;
      bottom: 0; }

#sticky {
  position: relative;
  min-height: 600px;
  max-height: 1200px;
  height: 100vh;
  z-index: 5; }
  @media only screen and (max-width: 767px) {
    #sticky {
      display: none;
      background: #0000FF;
      position: relative !important;
      width: auto !important;
      min-height: inherit;
      max-height: inherit;
      height: auto; }
      #sticky h1 {
        display: none; } }

section.section {
  overflow: hidden;
  position: relative; }
  section.section .col-right {
    position: relative;
    z-index: 0; }
  section.section > .row:after,
  section.section .fp-tableCell > .row:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 55%;
    height: 100%;
    background-color: #0000FF;
    -webkit-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
    -moz-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
    -o-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
    transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
    transform: translate(85%, 0); }
  section.section.loaded > .row:after,
  section.section.loaded .fp-tableCell > .row:after {
    width: 50%;
    transform: translate(0, 0); }
  section.section .sticky {
    -webkit-transition: top 0.5s cubic-bezier(0.1, 0.01, 0, 1);
    -moz-transition: top 0.5s cubic-bezier(0.1, 0.01, 0, 1);
    -o-transition: top 0.5s cubic-bezier(0.1, 0.01, 0, 1);
    transition: top 0.5s cubic-bezier(0.1, 0.01, 0, 1);
    background-color: #0000FF;
    overflow: hidden;
    z-index: 110;
    position: fixed;
    width: 50%;
    display: none;
    left: 0;
    top: 0; }
    section.section .sticky.loaded h1 {
      opacity: 1; }
    section.section .sticky h1 {
      -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
      padding: 0 20px;
      margin-top: 50px;
      opacity: 0; }
    section.section .sticky.stuck {
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      position: absolute;
      width: auto; }
  section.section.active {
    z-index: 10; }
    section.section.active .sticky {
      display: block; }
  @media only screen and (max-width: 767px) {
    section.section > .row:after,
    section.section .fp-tableCell > .row:after {
      display: none; }
    section.section .sticky {
      top: 0 !important;
      width: 100%;
      position: absolute;
      background: transparent;
      display: block; }
      section.section .sticky h1 {
        padding: 0 10px; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    section.section .top-heading h4 {
      margin: 0; }
    section.section .top-heading.spacing-top-24, section.section .accordion li .body p.top-heading:first-of-type, .accordion li .body section.section p.top-heading:first-of-type, section.section .block-invest #panel-apply .body p.top-heading:first-of-type, .block-invest #panel-apply .body section.section p.top-heading:first-of-type, section.section .top-heading.spacing-top-20, section.section header .header-menu > div.top-heading, header section.section .header-menu > div.top-heading {
      padding-top: 20px; }
    section.section .top-heading.spacing-bottom-24, section.section .block-who-we-are .disable-slider .top-heading.owl-carousel, .block-who-we-are .disable-slider section.section .top-heading.owl-carousel, section.section .top-heading.spacing-bottom-20 {
      padding-bottom: 20px; }
    section.section .description p:first-of-type {
      margin-top: -6px; } }
  @media screen and (min-width: 374px) and (max-width: 412px) {
    section.section .description p {
      font-size: 18px; }
    section.section .top-heading {
      padding-top: 18px;
      padding-bottom: 18px; } }

.scrollable-el {
  height: 100vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative; }

.sticky-el {
  -webkit-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  -moz-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  -o-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  position: fixed;
  transform: translateX(0%);
  z-index: 100;
  width: 50%;
  left: 0; }
  .sticky-el .block-heading {
    -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0; }
    .sticky-el .block-heading.loaded {
      opacity: 1; }
    .sticky-el .block-heading.animate-top {
      -webkit-transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
  .sticky-el.sticky-header {
    top: 0; }
    .sticky-el.sticky-header .footer-1 {
      display: none; }
  .sticky-el.sticky-footer {
    bottom: 0; }
  @media only screen and (max-width: 767px) {
    .sticky-el {
      -webkit-transition: all 0.4s cubic-bezier(0.26, 0.1, 0.25, 1);
      -moz-transition: all 0.4s cubic-bezier(0.26, 0.1, 0.25, 1);
      -o-transition: all 0.4s cubic-bezier(0.26, 0.1, 0.25, 1);
      transition: all 0.4s cubic-bezier(0.26, 0.1, 0.25, 1);
      z-index: 1000;
      background: #0000FF;
      width: 100%; }
      .sticky-el.sticky-header .footer-1 {
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        display: block; }
      .sticky-el.sticky-header.disable-header {
        transform: translateY(-100%) !important;
        opacity: 0; }
      .sticky-el.sticky-footer {
        display: none; }
      .sticky-el .block-heading {
        display: none; }
      .sticky-el.headroom--unpinned, .sticky-el.headroom--top {
        top: -175px; }
        .sticky-el.headroom--unpinned .footer-1, .sticky-el.headroom--top .footer-1 {
          opacity: 0; }
      .sticky-el .menu-toggle {
        background: #0000FF; }
        .sticky-el .menu-toggle.collapsed {
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15); }
      .sticky-el header > div {
        background: transparent; }
      .sticky-el header .menu {
        padding: 0; }
      .sticky-el > .wrap {
        margin: 0; }
      .sticky-el .header-menu {
        -webkit-transition: transform 0.4s cubic-bezier(0.72, 0.01, 0.46, 1);
        -moz-transition: transform 0.4s cubic-bezier(0.72, 0.01, 0.46, 1);
        -o-transition: transform 0.4s cubic-bezier(0.72, 0.01, 0.46, 1);
        transition: transform 0.4s cubic-bezier(0.72, 0.01, 0.46, 1);
        position: fixed;
        max-height: inherit;
        transform: translateY(-100%);
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100vh;
        padding: 55px 20px 0; }
        .sticky-el .header-menu > div {
          border-top: 1px solid;
          padding-top: 20px; }
        .sticky-el .header-menu.active {
          -webkit-transition: transform 0.6s cubic-bezier(0.55, 0, 0.07, 1);
          -moz-transition: transform 0.6s cubic-bezier(0.55, 0, 0.07, 1);
          -o-transition: transform 0.6s cubic-bezier(0.55, 0, 0.07, 1);
          transition: transform 0.6s cubic-bezier(0.55, 0, 0.07, 1);
          transform: translateY(0%); }
      .sticky-el .menu-wrap {
        top: 0; }
        .sticky-el .menu-wrap a {
          position: relative;
          height: 50px;
          height: 53px; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    .sticky-el .header-menu li {
      line-height: 100%; }
    .sticky-el .header-menu a {
      font-size: 20px; }
    .sticky-el .menu-toggle.collapsed {
      box-shadow:  0px 0px 10px 3px rgba 0, 0, 0, 0.75; } }

.accordion {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black; }
  .accordion li {
    list-style: none;
    border-top: 1px solid black; }
    .accordion li.active .btn-collapse svg {
      -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    .accordion li .btn-collapse {
      position: relative;
      color: black;
      display: block;
      padding-bottom: 0; }
      .accordion li .btn-collapse svg {
        -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        width: 20px;
        height: 20px;
        top: -4px;
        right: 20px;
        position: absolute; }
    .accordion li .body {
      background-color: #FDFDFD;
      line-height: 128%;
      position: relative;
      overflow: hidden; }
      .accordion li .body .sub-heading p {
        margin-left: 10px;
        margin-right: 10px; }
      .accordion li .body:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #DDDDDD; }
      .accordion li .body a {
        color: black;
        border-bottom: 1px solid; }
  @media only screen and (max-width: 767px) {
    .accordion li .body > div {
      padding-top: 14px; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    .accordion .spacing-bottom-24, .accordion .block-who-we-are .disable-slider .owl-carousel, .block-who-we-are .disable-slider .accordion .owl-carousel {
      padding-bottom: 20px; }
    .accordion .spacing-top-24, .accordion li .body p:first-of-type, .block-get-involved .accordion li .body p:first-of-type, .accordion .block-invest #panel-apply .body p:first-of-type, .block-invest #panel-apply .body .accordion p:first-of-type {
      padding-top: 20px; }
    .accordion li .btn-collapse {
      font-size: 16px; }
      .accordion li .btn-collapse svg {
        right: 10px; }
    .accordion li .body > div {
      padding-top: 20px; }
    .accordion li .body p:first-of-type {
      padding-top: 0; }
    .accordion li .body .spacing-right-10 {
      padding-left: 10px; } }
  @media screen and (min-width: 374px) and (max-width: 412px) {
    .accordion .spacing-top-24, .accordion li .body p:first-of-type, .block-get-involved .accordion li .body p:first-of-type, .accordion .block-invest #panel-apply .body p:first-of-type, .block-invest #panel-apply .body .accordion p:first-of-type {
      padding-top: 18px; }
    .accordion .spacing-bottom-24, .accordion .block-who-we-are .disable-slider .owl-carousel, .block-who-we-are .disable-slider .accordion .owl-carousel {
      padding-bottom: 18px; }
    .accordion li .body .spacing-right-10 {
      padding-left: 10px; }
    .accordion li .body > div {
      padding-top: 0; }
    .accordion li .body .sub-heading p {
      margin-top: 18px;
      margin-bottom: 18px; }
    .accordion li .body p:first-of-type {
      padding-top: 0; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  font-weight: 400;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:after,
q:before {
  content: '';
  content: none; }

sub,
sup {
  font-size: 50%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.8em;
  font-size: 0.5em; }

form {
  overflow: hidden; }
  form input,
  form select {
    border: 0;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid;
    margin-bottom: 6px;
    line-height: normal;
    background: white;
    border-radius: 0; }
    form input:focus, form input:active,
    form select:focus,
    form select:active {
      outline: none; }
    form input::-webkit-input-placeholder,
    form select::-webkit-input-placeholder {
      color: black; }
    form input:-moz-placeholder,
    form select:-moz-placeholder {
      /* Firefox 18- */
      color: black; }
    form input::-moz-placeholder,
    form select::-moz-placeholder {
      /* Firefox 19+ */
      color: black; }
    form input:-ms-input-placeholder,
    form select:-ms-input-placeholder {
      color: black; }
  form select {
    -webkit-appearance: none;
    -moz-appearance: none; }
  form .select-wrap {
    position: relative; }
    form .select-wrap:after {
      content: '';
      position: absolute;
      top: 23px;
      right: 15px;
      display: block;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 7px solid black; }

.btn {
  border-radius: 0;
  border: 1px solid;
  float: right;
  width: 195px;
  padding: 10px 15px;
  max-width: 100%; }
  .btn.btn-default {
    background: transparent;
    color: black; }
    .btn.btn-default:hover {
      background: #0000FF;
      color: white; }
      .btn.btn-default:hover svg {
        fill: white !important; }
  .btn svg {
    margin-left: 5px; }

.clone {
  opacity: 0;
  position: relative;
  z-index: -1;
  visibility: hidden; }

.full-height {
  height: 100vh; }

.full-width {
  width: 100%; }

.bg-blue, section.section {
  background-color: #0000FF; }

.bg-patterns, footer.footer-bottom .bg-dots .pattern {
  background: -moz-radial-gradient(#0000FF 20%, transparent 21%), white;
  background: -webkit-radial-gradient(#0000FF 20%, transparent 21%), white;
  background: -ms-radial-gradient(#0000FF 20%, transparent 21%), white;
  background-position: 0 0, 19px 19px;
  -webkit-background-size: 19px 19px;
  -moz-background-size: 19px 19px;
  -ms-background-size: 19px 19px;
  background-size: 19px 19px; }

.spacing-left-40 {
  padding-left: 40px; }
  @media only screen and (max-width: 1024px) {
    .spacing-left-40 {
      padding-left: 20px; } }
  @media only screen and (max-width: 767px) {
    .spacing-left-40 {
      padding-left: 0; } }

.spacing-right-25 {
  padding-right: 25px; }
  @media only screen and (max-width: 767px) {
    .spacing-right-25 {
      padding-right: 0; } }

.spacing-right-10 {
  padding-right: 10px; }
  @media only screen and (max-width: 767px) {
    .spacing-right-10 {
      padding-right: 0; } }

.spacing-right-40 {
  padding-right: 40px; }
  @media only screen and (max-width: 767px) {
    .spacing-right-40 {
      padding-right: 0; } }

.spacing-right-20 {
  padding-right: 20px; }

.spacing-top-48, .block-get-involved .gallery-wrapper {
  padding-top: 48px; }
  @media only screen and (max-width: 767px) {
    .spacing-top-48, .block-get-involved .gallery-wrapper {
      padding-top: 24px; } }

.spacing-top-20, header .header-menu > div {
  padding-top: 20px; }
  @media only screen and (max-width: 767px) {
    .spacing-top-20, header .header-menu > div {
      padding-top: 10px; } }

.spacing-top-18 {
  padding-top: 18px; }
  @media only screen and (max-width: 1024px) {
    .spacing-top-18 {
      padding-top: 16px; } }

.spacing-top-10 {
  padding-top: 10px; }

.spacing-top-24, .accordion li .body p:first-of-type, .block-get-involved .accordion li .body p:first-of-type, .block-invest #panel-apply .body p:first-of-type {
  padding-top: 24px; }
  @media only screen and (max-width: 1024px) {
    .spacing-top-24, .accordion li .body p:first-of-type, .block-get-involved .accordion li .body p:first-of-type, .block-invest #panel-apply .body p:first-of-type {
      padding-top: 22px; } }
  @media only screen and (max-width: 767px) {
    .spacing-top-24, .accordion li .body p:first-of-type, .block-get-involved .accordion li .body p:first-of-type, .block-invest #panel-apply .body p:first-of-type {
      padding-top: 18px; } }

.spacing-top-130 {
  padding-top: 130px; }
  @media only screen and (max-width: 767px) {
    .spacing-top-130 {
      padding-top: 0; } }

.spacing-top-100 {
  padding-top: 100px; }
  @media only screen and (max-width: 767px) {
    .spacing-top-100 {
      padding-top: 48px; } }

.spacing-bottom-100 {
  padding-bottom: 100px; }
  @media only screen and (max-width: 767px) {
    .spacing-bottom-100 {
      padding-bottom: 48px; } }

.spacing-bottom-52, .block-get-involved .gallery-wrapper {
  padding-bottom: 52px; }
  @media only screen and (max-width: 767px) {
    .spacing-bottom-52, .block-get-involved .gallery-wrapper {
      padding-bottom: 24px; } }

.spacing-bottom-48 {
  padding-bottom: 48px; }
  @media only screen and (max-width: 767px) {
    .spacing-bottom-48 {
      padding-bottom: 24px; } }

.spacing-bottom-24, .block-who-we-are .disable-slider .owl-carousel {
  padding-bottom: 24px; }
  @media only screen and (max-width: 1024px) {
    .spacing-bottom-24, .block-who-we-are .disable-slider .owl-carousel {
      padding-bottom: 22px; } }
  @media only screen and (max-width: 767px) {
    .spacing-bottom-24, .block-who-we-are .disable-slider .owl-carousel {
      padding-bottom: 18px; } }

.spacing-bottom-20 {
  padding-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .spacing-bottom-20 {
      padding-bottom: 10px; } }

.spacing-bottom-17 {
  padding-bottom: 17px; }
  @media only screen and (max-width: 767px) {
    .spacing-bottom-17 {
      padding-bottom: 10px; } }

.spacing-bottom-18 {
  padding-bottom: 18px; }
  @media only screen and (max-width: 1024px) {
    .spacing-bottom-18 {
      padding-bottom: 16px; } }

.spacing-bottom-10 {
  padding-bottom: 10px; }

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  width: 100%; }

.bg-white {
  background-color: white;
  color: black; }

.bg-blue, section.section {
  background-color: #0000FF; }

.bg-transparent {
  background: transparent; }

.container {
  padding-left: 20px;
  padding-right: 20px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.no-gutters {
  margin-left: 0;
  margin-right: 0; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px; }

.gallery-wrapper img {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.gallery-wrapper a {
  padding-bottom: 0; }

.gallery-wrapper .hold img {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.gallery-wrapper .left-arrow,
.gallery-wrapper .right-arrow {
  width: 16px;
  height: 15px; }
  .gallery-wrapper .left-arrow .cls-1,
  .gallery-wrapper .right-arrow .cls-1 {
    fill: #010101 !important; }

.gallery-wrapper .gallery-prev {
  margin-right: 27px; }

.gallery-wrapper .total {
  margin-right: 7px; }

.gallery-wrapper .owl-stage {
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important; }

.gallery-wrapper .owl-dots {
  display: none; }

@media only screen and (max-width: 767px) {
  .gallery-wrapper .left-arrow,
  .gallery-wrapper .right-arrow {
    width: 14px;
    height: 13px; }
  .gallery-wrapper .gallery-prev {
    margin-right: 16px; } }

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0; }

.mobile-view {
  display: none; }
  @media only screen and (max-width: 767px) {
    .mobile-view {
      display: block; } }

#loader {
  -webkit-transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  #loader #bm {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 150px;
    margin: 0 auto; }
  #loader.active {
    display: none; }
  @media only screen and (max-width: 767px) {
    #loader.active {
      width: 100%; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    #loader #bm {
      width: 100px; } }

header {
  z-index: 120;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); }
  header.loaded {
    opacity: 1; }
  header.stuck {
    background: #0000FF;
    position: absolute; }
  header a {
    color: white; }
  header .brand {
    padding: 0;
    margin: 0 5px; }
  header .menu li {
    margin: 0 0 8px; }
  header .menu a {
    border-bottom: 1px solid; }
  header .menu-toggle {
    padding: 0; }
    header .menu-toggle:after {
      content: '';
      width: 0;
      height: 0;
      display: inline-block;
      vertical-align: middle;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 7px solid white;
      margin: -2px 4px 0px; }
    header .menu-toggle.collapsed:after {
      -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    header .menu-toggle .brand {
      display: none; }
  header .header-menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-height: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    header .header-menu.active {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      max-height: 700px;
      height: auto;
      opacity: 1;
      visibility: visible; }
  @media only screen and (max-width: 1024px) {
    header .brand {
      display: block; } }
  @media only screen and (max-width: 767px) {
    header {
      width: 100%; }
      header.wrap {
        margin-left: 0;
        margin-right: 0; }
      header .brand {
        margin: 0px 20px; }
      header .spacing-top-20, header .header-menu > div {
        padding-top: 20px; }
      header .spacing-bottom-20 {
        padding-bottom: 20px; }
      header > div {
        background: #0000FF; }
      header .menu-toggle {
        z-index: 10;
        float: none;
        display: block;
        position: relative;
        padding: 20px 0; }
        header .menu-toggle span:not(.brand) {
          display: none; }
        header .menu-toggle .brand {
          display: block; }
        header .menu-toggle:after {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          right: 20px;
          margin: 0; }
        header .menu-toggle.collapsed:after {
          top: 45%; }
      header .menu-wrap {
        position: absolute !important;
        left: 0;
        right: 0;
        top: 0; }
      header .header-menu {
        background: #0000FF;
        overflow: hidden;
        padding: 0;
        opacity: 1;
        visibility: visible; }
        header .header-menu > div {
          padding-top: 0; }
        header .header-menu.active {
          max-height: inherit;
          height: 100vh; }
      header .menu {
        padding: 0 20px;
        margin: 0 0 20px; }
        header .menu li {
          display: block; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    header {
      width: auto; } }

footer {
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); }
  footer.loaded {
    opacity: 1; }
  footer.footer-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; }
    footer.footer-1 svg {
      display: block;
      width: 150px;
      height: 80px;
      margin-bottom: -6px; }
    footer.footer-1.stuck {
      position: absolute;
      bottom: 0; }
    footer.footer-1.footer-mobile {
      display: none;
      width: 100%;
      position: absolute; }
      footer.footer-1.footer-mobile svg {
        width: 90px;
        height: 45px; }
    @media only screen and (max-width: 767px) {
      footer.footer-1.footer-desktop {
        display: none; }
      footer.footer-1.footer-mobile {
        display: block; } }
    @media screen and (min-width: 413px) and (max-width: 899px) {
      footer.footer-1 svg {
        width: 135px;
        height: 65px;
        margin-bottom: -3px; }
      footer.footer-1 .spacing-bottom-20 {
        padding-bottom: 20px; } }
  footer.footer-contact {
    box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
    background: #0000FF;
    line-height: 128%;
    position: relative;
    width: 100%;
    z-index: 1;
    opacity: 1; }
    footer.footer-contact h1 {
      cursor: pointer;
      margin: 0; }
    footer.footer-contact .arrow-animate-2 {
      fill: white;
      width: 100px;
      height: 50px;
      margin: 0 40px; }
    footer.footer-contact h4 {
      margin-bottom: 3px; }
    footer.footer-contact p:last-of-type {
      margin: 0; }
    footer.footer-contact a {
      border-bottom: 1px solid;
      color: white; }
    footer.footer-contact .info {
      padding-left: 25px; }
      footer.footer-contact .info small {
        position: relative;
        padding-left: 35px;
        display: block; }
        footer.footer-contact .info small svg {
          position: absolute;
          top: -3px;
          left: 10px;
          fill: white;
          width: 17px;
          height: 17px; }
        footer.footer-contact .info small.no-icon {
          padding-left: 0; }
    footer.footer-contact #mc_embed_signup {
      margin-top: 25px; }
      footer.footer-contact #mc_embed_signup input {
        background: transparent;
        text-align: left;
        margin-bottom: 0;
        color: white;
        padding: 0;
        border: 0; }
        footer.footer-contact #mc_embed_signup input::-webkit-input-placeholder {
          color: white; }
        footer.footer-contact #mc_embed_signup input:-moz-placeholder {
          /* Firefox 18- */
          color: white; }
        footer.footer-contact #mc_embed_signup input::-moz-placeholder {
          /* Firefox 19+ */
          color: white; }
        footer.footer-contact #mc_embed_signup input:-ms-input-placeholder {
          color: white; }
        footer.footer-contact #mc_embed_signup input:active, footer.footer-contact #mc_embed_signup input:focus, footer.footer-contact #mc_embed_signup input:-webkit-autofill {
          background: transparent;
          -webkit-box-shadow: 0 0 0 30px #0000FF inset;
          -webkit-text-fill-color: white; }
        footer.footer-contact #mc_embed_signup input[type="submit"] {
          cursor: pointer;
          margin-top: 25px;
          border-bottom: 1px solid;
          display: inline-block;
          width: auto; }
      footer.footer-contact #mc_embed_signup div.mce_inline_error {
        background: transparent;
        color: red;
        padding: 0;
        font-size: 12px;
        margin: 0; }
    @media only screen and (max-width: 1200px) {
      footer.footer-contact p:last-of-type {
        margin-bottom: 25px; } }
    @media only screen and (max-width: 767px) {
      footer.footer-contact {
        margin-top: 0; }
        footer.footer-contact .info {
          padding-left: 5px; }
        footer.footer-contact #menu-social-nav {
          margin-bottom: 14px; }
        footer.footer-contact .arrow-animate-2 {
          width: 40px;
          height: 30px;
          margin: 0 30px 155px; }
        footer.footer-contact #mc_embed_signup {
          margin-bottom: 25px; } }
    @media screen and (min-width: 413px) and (max-width: 899px) {
      footer.footer-contact h1 {
        margin-bottom: 60px; }
      footer.footer-contact .info {
        padding-bottom: 20px; }
        footer.footer-contact .info small {
          margin-top: 20px; } }
  footer.footer-bottom {
    z-index: 0;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: black; }
    footer.footer-bottom.loaded {
      display: block; }
    footer.footer-bottom .wrap {
      position: relative; }
    footer.footer-bottom .bg-dots {
      overflow: hidden;
      height: 100vh; }
      footer.footer-bottom .bg-dots .pattern {
        height: 100vh; }
    footer.footer-bottom svg {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100px;
      height: 49px; }
    footer.footer-bottom .content {
      max-width: 80%;
      padding: 0 130px;
      display: block; }
    footer.footer-bottom small {
      line-height: 115%;
      letter-spacing: 0.02em;
      display: block; }
    footer.footer-bottom .copyright {
      position: absolute;
      right: 50px;
      top: 0; }
    @media only screen and (max-width: 1200px) {
      footer.footer-bottom .content br {
        display: none; } }
    @media only screen and (max-width: 1024px) {
      footer.footer-bottom .content {
        padding: 0 0 0 130px;
        max-width: 100%; }
      footer.footer-bottom .copyright {
        display: none; } }
    @media only screen and (max-width: 767px) {
      footer.footer-bottom {
        opacity: 1;
        display: block;
        z-index: -3; }
        footer.footer-bottom .content {
          display: none; }
        footer.footer-bottom .wrap {
          overflow: hidden; }
        footer.footer-bottom .copyright {
          display: block;
          width: 50%;
          right: 0;
          position: relative;
          float: right;
          padding: 0; } }
    @media screen and (min-width: 413px) and (max-width: 899px) {
      footer.footer-bottom .bg-dots .pattern {
        position: relative; }
        footer.footer-bottom .bg-dots .pattern:before {
          content: '';
          display: block;
          background: white;
          top: 0;
          left: 0;
          right: 0;
          height: 55px; } }

#footer-spacing {
  width: 100%;
  height: 250px;
  position: relative;
  z-index: -1;
  opacity: 0; }

.block-heading {
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
  position: absolute;
  top: 55px; }
  .block-heading.active {
    top: 180px; }

.block-image h1 {
  display: none; }

.block-image .bg-img {
  width: 100%;
  padding-bottom: 100%;
  min-height: 600px;
  max-height: 1200px;
  height: 100vh;
  cursor: s-resize; }

.block-image .btn-next {
  -webkit-transform: rotate(-90deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 100; }
  .block-image .btn-next svg {
    fill: white;
    width: 35px;
    height: 35px; }

.block-image footer {
  display: none; }

@media only screen and (max-width: 1024px) {
  .block-image .bg-img {
    max-height: 1000px; } }

@media only screen and (max-width: 767px) {
  .block-image .mobile-view {
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }
    .block-image .mobile-view header > div {
      background: transparent; }
    .block-image .mobile-view header .menu-wrap {
      position: inherit; }
    .block-image .mobile-view header .header-menu {
      background: transparent; }
      .block-image .mobile-view header .header-menu footer {
        display: none; }
  .block-image h1 {
    margin-top: -8px;
    padding: 0 20px;
    display: block;
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;
    position: absolute;
    top: 55px; }
    .block-image h1.active {
      top: 180px; }
  .block-image .bg-img {
    padding-top: 50px;
    max-height: 800px;
    opacity: .35; }
  .block-image .btn-next {
    right: 10px; }
    .block-image .btn-next svg {
      width: 32px;
      height: 25px; }
  .block-image footer {
    display: block; } }

@media screen and (min-width: 413px) and (max-width: 899px) {
  .block-image h1 {
    padding: 0 15px; }
  .block-image .bg-img {
    opacity: .35; }
  .block-image .btn-next {
    bottom: 22px; }
    .block-image .btn-next svg {
      width: 40px;
      height: 35px; } }

@media screen and (min-width: 374px) and (max-width: 412px) {
  .block-image h1 {
    padding: 0 25px 0 10px; } }

#section-1.playing {
  height: 100vh; }

#section-1 .no-gutters {
  height: 100%; }

#section-1 .row.no-gutters.active .block-video {
  margin-left: 0%;
  flex: 0 0 100%;
  max-width: 100%; }
  #section-1 .row.no-gutters.active .block-video .btn-play,
  #section-1 .row.no-gutters.active .block-video .bg-video:after {
    display: none; }
  #section-1 .row.no-gutters.active .block-video .btn-back {
    display: block; }

#section-1 .row.no-gutters.active:after {
  transform: translate(-100%, 0); }

#section-1 .row.no-gutters.transform-transition:after {
  -webkit-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  -moz-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  -o-transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  transition: transform 0.7s cubic-bezier(0.26, 0.1, 0.25, 1); }

#section-1 .row.no-gutters:after {
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease; }

#section-1.hovered .fp-tableCell > .row:after {
  transform: translate(-10px, 0); }

.block-video {
  -webkit-transition: all 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  -moz-transition: all 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  -o-transition: all 0.7s cubic-bezier(0.26, 0.1, 0.25, 1);
  transition: all 0.7s cubic-bezier(0.26, 0.1, 0.25, 1); }
  .block-video.active {
    margin-left: 0%;
    flex: 0 0 100%;
    max-width: 100%; }
    .block-video.active .btn-play,
    .block-video.active .bg-video:after {
      display: none; }
    .block-video.active .btn-back {
      display: block; }
  .block-video.overflow-hidden {
    overflow: hidden; }
  .block-video .bg-video {
    background: blue;
    position: relative;
    width: 100%;
    min-height: 600px;
    max-height: 1200px;
    height: 100vh;
    cursor: pointer; }
    .block-video .bg-video:hover .btn-play svg {
      transform: scale(0.9); }
  .block-video video {
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    height: 100%; }
  .block-video #loop {
    background: blue;
    height: 100%;
    left: -3%;
    position: relative; }
    .block-video #loop video {
      mix-blend-mode: multiply;
      pointer-events: none !important; }
    .block-video #loop .bg-img {
      display: none;
      mix-blend-mode: multiply;
      pointer-events: none; }
  .block-video #vid,
  .block-video #vid-mobile {
    display: none;
    background: black;
    position: absolute;
    height: 100vh;
    width: 100vw; }
  .block-video .vid-controls {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 740px;
    max-width: 100%; }
    .block-video .vid-controls > div {
      position: relative;
      padding-left: 25px; }
    .block-video .vid-controls span {
      display: inline-block;
      vertical-align: middle; }
    .block-video .vid-controls button {
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      outline: none;
      padding: 0;
      border: 0; }
    .block-video .vid-controls .ctrl-screen svg {
      width: 20px;
      height: 14px; }
    .block-video .vid-controls .ctrl-vol {
      text-align: center;
      margin: 0 10px; }
      .block-video .vid-controls .ctrl-vol svg {
        height: 20px;
        width: 20px; }
      .block-video .vid-controls .ctrl-vol .on {
        display: block; }
      .block-video .vid-controls .ctrl-vol .off {
        display: none; }
      .block-video .vid-controls .ctrl-vol.muted {
        margin: 0 0 0 10px; }
        .block-video .vid-controls .ctrl-vol.muted .off {
          display: block; }
        .block-video .vid-controls .ctrl-vol.muted .on {
          display: none; }
    .block-video .vid-controls .ctrl-play {
      position: absolute;
      z-index: 100;
      left: 0; }
      .block-video .vid-controls .ctrl-play svg {
        height: 20px;
        width: 20px;
        position: relative; }
      .block-video .vid-controls .ctrl-play .play {
        display: none; }
      .block-video .vid-controls .ctrl-play .pause {
        display: block; }
      .block-video .vid-controls .ctrl-play.paused .pause {
        display: none; }
      .block-video .vid-controls .ctrl-play.paused .play {
        display: block; }
    .block-video .vid-controls progress,
    .block-video .vid-controls progress[role] {
      border: none;
      background-size: auto;
      font-size: 12px;
      width: 100%;
      height: 14px;
      border: 1px solid white;
      vertical-align: middle; }
      .block-video .vid-controls progress:after,
      .block-video .vid-controls progress[role]:after {
        background-image: none;
        /* removes default background from polyfill */ }
    .block-video .vid-controls progress[value]::-webkit-progress-bar {
      background: rgba(0, 0, 0, 0) 66%; }
    .block-video .vid-controls progress[value]::-webkit-progress-value {
      background-color: white; }
    .block-video .vid-controls .pull-right {
      font-size: 13px;
      padding: 5px 0; }
  .block-video .btn-back {
    padding: 20px;
    position: absolute;
    top: 0;
    display: none; }
    .block-video .btn-back:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 8px solid white;
      vertical-align: middle;
      margin-right: 8px;
      position: relative;
      top: -1px; }
  .block-video .btn-play {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    margin: 20px auto;
    left: 0;
    right: 0;
    z-index: 100;
    height: 70px;
    width: 70px; }
    .block-video .btn-play svg {
      -webkit-transition: transform 0.4s ease;
      -moz-transition: transform 0.4s ease;
      -o-transition: transform 0.4s ease;
      transition: transform 0.4s ease;
      display: block;
      transform: scale(1); }
    .block-video .btn-play:after {
      border-style: solid;
      border-color: transparent transparent transparent white;
      content: ' ';
      font-size: 14px;
      height: 0;
      width: 0;
      left: 0;
      margin: 0 auto;
      border-width: 12px 0 12px 20px;
      right: -7px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .block-video .info {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    z-index: 100; }
    .block-video .info:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin: -1px 0 0 10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid white;
      vertical-align: middle; }
  @media only screen and (max-width: 1024px) {
    .block-video .bg-video {
      max-height: 1000px; } }
  @media only screen and (max-width: 767px) {
    .block-video #vid {
      display: none !important; }
    .block-video #vid-mobile {
      background: black; }
      .block-video #vid-mobile iframe {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        opacity: 1;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 100%; }
    .block-video .mobile-view {
      position: absolute;
      left: 0;
      right: 0;
      top: 0; }
      .block-video .mobile-view header > div {
        background: transparent; }
      .block-video .mobile-view header .menu-wrap {
        position: inherit; }
      .block-video .mobile-view header .header-menu {
        height: auto;
        background: transparent; }
        .block-video .mobile-view header .header-menu footer {
          display: none; }
    .block-video h1 {
      margin-top: -8px;
      padding: 0 20px;
      display: block;
      -webkit-transition: top 0.3s ease;
      -moz-transition: top 0.3s ease;
      -o-transition: top 0.3s ease;
      transition: top 0.3s ease;
      position: absolute;
      top: 55px; }
      .block-video h1.active {
        top: 180px; }
    .block-video .bg-video {
      max-height: 800px;
      position: relative;
      height: 100vh; }
    .block-video #loop {
      left: 0; }
      .block-video #loop video {
        display: none; }
      .block-video #loop .bg-img {
        display: block;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        padding-top: 50px;
        max-height: 800px; }
    .block-video .vid-controls {
      padding: 0 20px; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #loop:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 255, 0.6);
    left: -100%;
    right: -100%;
    height: 100%;
    top: 0; } }

@supports (-ms-ime-align: auto) {
  #loop:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 255, 0.6);
    left: -100%;
    right: -100%;
    height: 100%;
    top: 0; } }

.block-who-we-are {
  line-height: 128%;
  background: #0000FF; }
  .block-who-we-are .disable-slider .float-left,
  .block-who-we-are .disable-slider .float-right {
    display: none; }
  .block-who-we-are hr {
    display: none; }
  .block-who-we-are h4 {
    margin: 0; }
  .block-who-we-are .top-heading h4 {
    line-height: 106%; }
  .block-who-we-are .bg-img {
    padding-bottom: 67%; }
  .block-who-we-are .owl-video-tn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/video-poster.jpg") !important; }
    .block-who-we-are .owl-video-tn:after {
      content: '';
      display: block;
      background: rgba(0, 0, 0, 0);
      position: absolute;
      left: 0;
      right: 0;
      height: 100%; }
  .block-who-we-are .item-video {
    width: 100%;
    padding-bottom: 56.3%;
    background-color: white;
    position: relative; }
  .block-who-we-are iframe {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 100%;
    background: black; }
  .block-who-we-are .owl-video-wrapper {
    cursor: pointer; }
    .block-who-we-are .owl-video-wrapper:hover .owl-video-play-icon span:before {
      transform: scale(0.9); }
  .block-who-we-are .owl-video-playing {
    background: black; }
    .block-who-we-are .owl-video-playing .owl-video-play-icon,
    .block-who-we-are .owl-video-playing .owl-video-tn {
      opacity: 0;
      z-index: -1; }
  .block-who-we-are .owl-video-play-icon {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    cursor: pointer; }
    .block-who-we-are .owl-video-play-icon span {
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: auto;
      left: 0;
      right: 0;
      z-index: 10;
      height: 70px;
      width: 70px; }
      .block-who-we-are .owl-video-play-icon span:before {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border-radius: 50%;
        border: 1px solid white !important;
        transform: scale(1);
        height: 70px;
        width: 70px;
        content: '';
        display: block;
        margin: auto; }
      .block-who-we-are .owl-video-play-icon span:after {
        border-style: solid;
        border-color: transparent transparent transparent white;
        border-width: 12px 0 12px 20px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 0;
        width: 0;
        left: 0;
        right: -4px;
        content: '';
        margin: auto; }
    .block-who-we-are .owl-video-play-icon:hover span {
      opacity: 0.9; }
  .block-who-we-are .positions {
    text-transform: capitalize;
    min-height: 70px;
    margin: 0; }
  .block-who-we-are .position {
    color: #777777; }
  .block-who-we-are .description {
    padding-bottom: 23px; }
  .block-who-we-are .tab-content p:last-of-type {
    margin: 0; }
  .block-who-we-are .nav {
    display: block;
    border: 0;
    flex-wrap: inherit; }
    .block-who-we-are .nav a {
      color: #777777;
      border-bottom: 1px solid; }
      .block-who-we-are .nav a.active {
        border: 0;
        color: black; }
  @media only screen and (max-width: 1024px) {
    .block-who-we-are .positions {
      padding-bottom: 20px; }
    .block-who-we-are .description {
      padding-bottom: 28px; } }
  @media only screen and (max-width: 767px) {
    .block-who-we-are hr {
      margin-top: 48px;
      display: block; }
    .block-who-we-are .sticky {
      display: none !important; }
    .block-who-we-are .description {
      padding-bottom: 24px; }
      .block-who-we-are .description p:last-of-type {
        margin: 0; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    .block-who-we-are .positions {
      min-height: 0px; }
    .block-who-we-are .description p {
      font-size: 20px; }
    .block-who-we-are h4,
    .block-who-we-are .nav a,
    .block-who-we-are p {
      font-size: 16px; } }
  @media screen and (min-width: 374px) and (max-width: 412px) {
    .block-who-we-are .positions {
      min-height: 0px; } }

.block-what-we-do {
  line-height: 128%; }
  .block-what-we-do .top-heading h4 {
    margin: 0; }
  .block-what-we-do .description {
    padding-bottom: 23px; }
  .block-what-we-do .content p:last-of-type {
    margin: 0; }
  @media only screen and (max-width: 1024px) {
    .block-what-we-do .description {
      padding-bottom: 28px; } }
  @media only screen and (max-width: 767px) {
    .block-what-we-do .description {
      padding-bottom: 24px; }
      .block-what-we-do .description p:last-of-type {
        margin: 0; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    .block-what-we-do .description p {
      font-size: 20px; } }

#section-feed {
  box-shadow: 0px 15px 30px #04009a61;
  border-bottom: 2px solid white; }
  #section-feed .bg-img {
    padding-bottom: 60.75%;
    position: relative;
    z-index: 100; }
  #section-feed .block-feed {
    background: white;
    position: relative;
    z-index: 10;
    display: none; }
    #section-feed .block-feed h1 {
      color: black;
      margin-bottom: 115px; }
    #section-feed .block-feed small {
      float: left;
      position: relative;
      padding-left: 40px;
      display: block;
      line-height: 115%;
      letter-spacing: 0.024em;
      color: black;
      width: 75%; }
      #section-feed .block-feed small svg {
        position: absolute;
        top: 0;
        left: 10px;
        fill: black;
        width: 17px;
        height: 17px; }
      #section-feed .block-feed small p {
        margin: 0; }
    #section-feed .block-feed .crt-feed {
      padding-bottom: 5px; }
    #section-feed .block-feed .crt-post-v2 {
      padding: 0; }
      #section-feed .block-feed .crt-post-v2 .crt-post-border {
        border: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
    #section-feed .block-feed .crt-list-post {
      padding: 0 20px;
      max-width: 100%;
      border-left: 1px solid #DDDDDD; }
    #section-feed .block-feed .crt-list-post-image {
      padding-top: 10px; }
      #section-feed .block-feed .crt-list-post-image img {
        max-width: 100%;
        height: auto; }
    #section-feed .block-feed .crt-list-post-text-wrap {
      color: black;
      line-height: normal;
      overflow-wrap: break-word;
      padding: 10px 0 55px; }
      #section-feed .block-feed .crt-list-post-text-wrap a {
        color: black; }
    #section-feed .block-feed .crt-post-c {
      margin-top: 10px; }
    #section-feed .block-feed .crt-post-footer {
      color: black;
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      padding: 15px 0 0;
      border-top: 1px solid #DDDDDD; }
      #section-feed .block-feed .crt-post-footer .crt-date {
        float: left;
        color: #777777; }
      #section-feed .block-feed .crt-post-footer a {
        float: right;
        color: #777777; }
        #section-feed .block-feed .crt-post-footer a svg {
          display: inline-block;
          vertical-align: middle;
          height: 18px;
          width: 18px;
          margin-left: 10px;
          fill: #777777; }
    #section-feed .block-feed .crt-load-more {
      display: none; }
    #section-feed .block-feed .owl-stage {
      display: flex; }
    #section-feed .block-feed .owl-item {
      display: flex;
      flex: 1 0 auto; }
    #section-feed .block-feed .owl-item:not(.active) + .owl-item.active .crt-list-post {
      border: 0; }
  #section-feed .parent-wrap {
    position: relative;
    padding-bottom: calc(100vh + 25px);
    z-index: 10; }
    #section-feed .parent-wrap > .row {
      position: relative;
      background: #0000FF;
      box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
      border-bottom: 2px solid white;
      z-index: 111; }
  #section-feed .footer-contact {
    border-bottom: 2px solid white; }
  #section-feed .fp-scroller {
    border-bottom: 2px solid #fff;
    box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
    overflow: hidden; }
  #section-feed.loaded .footer-contact {
    border-bottom: 0; }
  #section-feed.loaded .parent-wrap {
    padding-bottom: 100vh;
    margin-bottom: calc(-100vh); }
  #section-feed.loaded .fp-scroller {
    margin-bottom: -100vh; }
  #section-feed .fp-tableCell > .row:after,
  #section-feed > .row:after {
    display: none; }
  @media only screen and (max-width: 767px) {
    #section-feed {
      border-bottom: 2px solid #fff;
      box-shadow: -4px 0px 8px 3px #808080d4; }
      #section-feed .parent-wrap {
        padding-bottom: 0; }
      #section-feed .block-feed .crt-list-post {
        padding: 0; }
      #section-feed .block-feed .crt-post-footer {
        left: 0;
        right: 0; } }
  @media only screen and (max-width: 480px) {
    #section-feed .block-feed small {
      width: 100%; } }

.block-fund h1 {
  text-transform: uppercase;
  margin: 0 0 -6px;
  width: 60%; }

.block-fund p {
  margin: 0; }

.block-fund .info small {
  position: relative;
  padding-left: 40px;
  display: block; }
  .block-fund .info small svg {
    position: absolute;
    top: 0;
    left: 10px;
    fill: white;
    width: 17px;
    height: 17px; }
  .block-fund .info small.no-icon {
    padding-left: 0; }

.block-fund .now,
.block-fund .target,
.block-fund .statistics {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
  height: 100vh;
  max-height: 1200px;
  min-height: 900px; }
  .block-fund .now .wrap,
  .block-fund .target .wrap,
  .block-fund .statistics .wrap {
    position: absolute;
    left: 0;
    right: 0; }
    .block-fund .now .wrap:first-of-type,
    .block-fund .target .wrap:first-of-type,
    .block-fund .statistics .wrap:first-of-type {
      top: 0; }
    .block-fund .now .wrap:last-of-type,
    .block-fund .target .wrap:last-of-type,
    .block-fund .statistics .wrap:last-of-type {
      bottom: 0; }

.block-fund .target {
  border-bottom: 0; }

.block-fund .graph-list {
  text-align: right;
  margin: 0 auto;
  width: 83%; }

.block-fund .graph-xl {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: visible;
  width: 85%;
  top: 45%;
  margin: 0 auto;
  display: block; }
  .block-fund .graph-xl .cls-1 {
    fill: none; }
  .block-fund .graph-xl.after .cls-2 {
    fill: #fff; }
  .block-fund .graph-xl.after .cls-3 {
    clip-path: url(#clip-path); }
  .block-fund .graph-xl.then .cls-2 {
    clip-path: url(#clip-path); }
  .block-fund .graph-xl.then .cls-3 {
    fill: white; }

.block-fund .graph-sm {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: visible;
  width: 85%;
  margin: 0 auto;
  display: block;
  top: 43%; }
  .block-fund .graph-sm #Circle-5_x5F_pattern, .block-fund .graph-sm #Circle-4_x5F_pattern, .block-fund .graph-sm #Circle-3_x5F_pattern, .block-fund .graph-sm #Circle-2_x5F_pattern, .block-fund .graph-sm #Circle-1_x5F_pattern {
    opacity: 0;
    transition: 0s;
    cursor: pointer; }
  .block-fund .graph-sm #Circle-5_x5F_pattern:hover {
    opacity: 1;
    transition: 0s; }
  .block-fund .graph-sm #Circle-4_x5F_pattern:hover {
    opacity: 1;
    transition: 0s; }
  .block-fund .graph-sm #Circle-3_x5F_pattern:hover {
    opacity: 1;
    transition: 0s; }
  .block-fund .graph-sm #Circle-2_x5F_pattern:hover {
    opacity: 1;
    transition: 0s; }
  .block-fund .graph-sm #Circle-1_x5F_pattern:hover {
    opacity: 1;
    transition: 0s; }

.block-fund .graph {
  border: 3px solid white;
  border-radius: 50%;
  padding-bottom: 63%;
  overflow: hidden;
  width: 63%;
  top: 43%; }
  .block-fund .graph.md {
    position: relative;
    display: inline-block;
    padding-bottom: 32%;
    margin: -2px -3px;
    width: 33.33333333%; }
  .block-fund .graph .progress {
    border-top: 3px solid white;
    position: absolute;
    background-image: url("../img/graph.jpg");
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0; }
    .block-fund .graph .progress.full {
      border: 0; }
    .block-fund .graph .progress.hover {
      opacity: 0;
      border: 0; }
      .block-fund .graph .progress.hover:hover {
        opacity: 1; }

@media only screen and (max-width: 1024px) {
  .block-fund br {
    display: none; }
  .block-fund .graph-list {
    max-width: 315px; }
  .block-fund .graph.md {
    width: 50%;
    padding-bottom: 48%;
    margin: -1px -3px;
    border: 2px solid white; }
    .block-fund .graph.md:first-of-type {
      display: block;
      margin-left: auto; } }

@media only screen and (max-width: 767px) {
  .block-fund h1 {
    width: 80%; }
  .block-fund .sticky {
    display: none !important; }
  .block-fund .now,
  .block-fund .target,
  .block-fund .statistics {
    border-left: 0;
    max-height: 800px;
    min-height: 400px; }
  .block-fund .info small svg {
    top: 0; }
  .block-fund .graph-list {
    width: 90%;
    top: 45%;
    text-align: center;
    max-width: inherit; }
  .block-fund .graph.md:first-of-type {
    margin-right: 2px; } }

@media screen and (min-width: 413px) and (max-width: 899px) {
  .block-fund .graph-xl {
    width: 110%;
    left: -5%; }
  .block-fund .graph-sm {
    transform: translateY(-50%) rotate(90deg);
    width: 110%;
    left: -5%;
    margin-top: 5%; }
  .block-fund .info {
    padding-bottom: 20px; } }

@media screen and (min-width: 374px) and (max-width: 412px) {
  .block-fund .graph-xl {
    width: 110%;
    left: -5%; }
  .block-fund .graph-sm {
    transform: translateY(-50%) rotate(90deg);
    width: 110%;
    left: -5%; }
  .block-fund .info small {
    width: 90%; } }

#section-4 {
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 767px) {
    #section-4 {
      position: relative;
      z-index: 100; } }

.block-get-involved .top-heading h4 {
  margin: 0; }

.block-get-involved .description a {
  color: black;
  border-bottom: 1px solid; }
  .block-get-involved .description a:hover {
    border-bottom: 0; }

.block-get-involved .description p:last-of-type {
  margin: 0; }

.block-get-involved .accordion {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black; }
  .block-get-involved .accordion li {
    list-style: none;
    border-top: 1px solid black; }
    .block-get-involved .accordion li.active .btn-collapse svg {
      -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    .block-get-involved .accordion li .btn-collapse {
      position: relative;
      color: black;
      display: block;
      padding-bottom: 0; }
      .block-get-involved .accordion li .btn-collapse svg {
        -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        width: 20px;
        height: 20px;
        top: -4px;
        right: 20px;
        position: absolute; }
    .block-get-involved .accordion li .body {
      background-color: #FDFDFD;
      line-height: 128%;
      position: relative;
      overflow: hidden; }
      .block-get-involved .accordion li .body .sub-heading p {
        margin-left: 10px;
        margin-right: 10px; }
      .block-get-involved .accordion li .body:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #DDDDDD; }
      .block-get-involved .accordion li .body a {
        color: black;
        border-bottom: 1px solid; }

.block-get-involved .title h4 {
  margin: 0; }

.block-get-involved .table-list {
  line-height: 128%;
  padding-left: 10px;
  padding-right: 10px; }
  .block-get-involved .table-list .row:not(:first-of-type) {
    background-color: #FDFDFD; }
  .block-get-involved .table-list .row > div {
    padding-left: 10px;
    padding-right: 45px; }
  .block-get-involved .table-list p {
    margin: -5px 0; }
  .block-get-involved .table-list .row:first-of-type {
    border-bottom: 1px solid #979794; }
  .block-get-involved .table-list .timing {
    border-left: 1px solid #979794;
    border-right: 1px solid #979794;
    border-bottom: 1px solid #979794; }
  .block-get-involved .table-list .activity {
    border-right: 1px solid #979794;
    border-bottom: 1px solid #979794; }

.block-get-involved .info small {
  position: relative;
  padding-left: 30px;
  display: block;
  line-height: 115%;
  letter-spacing: 0.024em;
  color: black;
  margin-top: -5px;
  width: 90%; }
  .block-get-involved .info small svg {
    position: absolute;
    top: -3px;
    left: 0;
    fill: black;
    width: 17px;
    height: 17px; }
  .block-get-involved .info small p {
    margin: 0; }
    .block-get-involved .info small p:first-of-type {
      margin: 0 0 13px; }

@media only screen and (max-width: 1024px) {
  .block-get-involved .info {
    padding-top: 0; } }

@media only screen and (max-width: 767px) {
  .block-get-involved .spacing-left-40 {
    padding-left: 0; }
  .block-get-involved .accordion .spacing-bottom-24, .block-get-involved .accordion .block-who-we-are .disable-slider .owl-carousel, .block-who-we-are .disable-slider .block-get-involved .accordion .owl-carousel,
  .block-get-involved .accordion .spacing-bottom-18,
  .block-get-involved .table-list .spacing-bottom-24,
  .block-get-involved .table-list .block-who-we-are .disable-slider .owl-carousel,
  .block-who-we-are .disable-slider .block-get-involved .table-list .owl-carousel,
  .block-get-involved .table-list .spacing-bottom-18 {
    padding-bottom: 14px; }
  .block-get-involved .accordion .spacing-top-24, .block-get-involved .accordion li .body p:first-of-type, .block-get-involved .accordion .block-invest #panel-apply .body p:first-of-type, .block-invest #panel-apply .body .block-get-involved .accordion p:first-of-type,
  .block-get-involved .accordion .spacing-top-18,
  .block-get-involved .table-list .spacing-top-24,
  .accordion li .body .block-get-involved .table-list p:first-of-type,
  .block-get-involved .table-list .accordion li .body p:first-of-type,
  .block-get-involved .accordion li .body .table-list p:first-of-type,
  .block-get-involved .table-list .block-invest #panel-apply .body p:first-of-type,
  .block-invest #panel-apply .body .block-get-involved .table-list p:first-of-type,
  .block-get-involved .table-list .spacing-top-18 {
    padding-top: 14px; }
  .block-get-involved .accordion li .body > div {
    padding-top: 14px; }
  .block-get-involved .title.spacing-bottom-24, .block-get-involved .block-who-we-are .disable-slider .title.owl-carousel, .block-who-we-are .disable-slider .block-get-involved .title.owl-carousel {
    padding-bottom: 14px; }
  .block-get-involved .title.spacing-top-24, .accordion li .body .block-get-involved p.title:first-of-type, .block-get-involved .accordion li .body p.title:first-of-type, .block-get-involved .block-invest #panel-apply .body p.title:first-of-type, .block-invest #panel-apply .body .block-get-involved p.title:first-of-type {
    padding-top: 14px; }
  .block-get-involved .spacing-bottom-100 {
    padding-bottom: 0; }
  .block-get-involved .table-list {
    padding-bottom: 14px; }
    .block-get-involved .table-list .row:first-of-type {
      display: none; }
    .block-get-involved .table-list .row:last-of-type {
      border-bottom: 1px solid #979794; }
    .block-get-involved .table-list .timing {
      border: 1px solid #979794; }
    .block-get-involved .table-list .activity {
      border-left: 1px solid #979794;
      border-bottom: 0; } }

@media screen and (min-width: 413px) and (max-width: 899px) {
  .block-get-involved .description p {
    font-size: 20px; }
  .block-get-involved .accordion .spacing-bottom-24, .block-get-involved .accordion .block-who-we-are .disable-slider .owl-carousel, .block-who-we-are .disable-slider .block-get-involved .accordion .owl-carousel {
    padding-bottom: 20px; }
  .block-get-involved .accordion .spacing-top-24, .block-get-involved .accordion li .body p:first-of-type, .block-get-involved .accordion .block-invest #panel-apply .body p:first-of-type, .block-invest #panel-apply .body .block-get-involved .accordion p:first-of-type {
    padding-top: 20px; }
  .block-get-involved .accordion li .btn-collapse {
    font-size: 16px; }
    .block-get-involved .accordion li .btn-collapse svg {
      right: 10px; }
  .block-get-involved .accordion li .body > div {
    padding-top: 20px; }
  .block-get-involved .accordion li .body p:first-of-type {
    padding-top: 0; }
  .block-get-involved .accordion li .body .spacing-right-10 {
    padding-left: 10px; }
  .block-get-involved .info {
    padding-bottom: 40px; }
  .block-get-involved .title.spacing-bottom-24, .block-get-involved .block-who-we-are .disable-slider .title.owl-carousel, .block-who-we-are .disable-slider .block-get-involved .title.owl-carousel {
    padding-bottom: 40px; } }

@media screen and (min-width: 374px) and (max-width: 412px) {
  .block-get-involved .title.spacing-bottom-24, .block-get-involved .block-who-we-are .disable-slider .title.owl-carousel, .block-who-we-are .disable-slider .block-get-involved .title.owl-carousel {
    padding-bottom: 36px; }
  .block-get-involved .accordion .spacing-top-24, .block-get-involved .accordion li .body p:first-of-type, .block-get-involved .accordion .block-invest #panel-apply .body p:first-of-type, .block-invest #panel-apply .body .block-get-involved .accordion p:first-of-type {
    padding-top: 18px; }
  .block-get-involved .accordion .spacing-bottom-24, .block-get-involved .accordion .block-who-we-are .disable-slider .owl-carousel, .block-who-we-are .disable-slider .block-get-involved .accordion .owl-carousel {
    padding-bottom: 18px; }
  .block-get-involved .accordion li .body .spacing-right-10 {
    padding-left: 10px; }
  .block-get-involved .accordion li .body > div {
    padding-top: 0; }
  .block-get-involved .accordion li .body .sub-heading p {
    margin-top: 18px;
    margin-bottom: 18px; }
  .block-get-involved .accordion li .body p:first-of-type {
    padding-top: 0; } }

#section-5 {
  border-bottom: 2px solid #fff;
  box-shadow: -4px 0px 8px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
  overflow: inherit; }
  #section-5 .sticky-el {
    position: absolute; }
  #section-5:before {
    content: '';
    display: block;
    background: #0000FF;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 70px; }

.block-invest {
  position: relative; }
  .block-invest .wpcf7-not-valid-tip {
    font-size: 10px; }
  .block-invest .wpcf7-response-output {
    color: black;
    padding: 10px;
    margin: 20px 0 0;
    line-height: normal; }
  .block-invest #invest .panel-in {
    direction: ltr;
    min-height: 100vh; }
    .block-invest #invest .panel-in .info small {
      color: black; }
      .block-invest #invest .panel-in .info small svg {
        fill: black; }
    .block-invest #invest .panel-in p {
      color: #777777; }
    .block-invest #invest .panel-in .form-header {
      border-bottom: 1px solid #777777; }
      .block-invest #invest .panel-in .form-header p {
        line-height: 90%;
        margin: 0; }
    .block-invest #invest .panel-in .btn-panel-back {
      color: #777777;
      float: right; }
      .block-invest #invest .panel-in .btn-panel-back .arrow {
        -webkit-transition: transform 0.4s ease;
        -moz-transition: transform 0.4s ease;
        -o-transition: transform 0.4s ease;
        transition: transform 0.4s ease;
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        width: 18px;
        margin-right: 10px;
        fill: #777777; }
      .block-invest #invest .panel-in .btn-panel-back:hover .arrow {
        -webkit-transition: transform 0.4s ease;
        -moz-transition: transform 0.4s ease;
        -o-transition: transform 0.4s ease;
        transition: transform 0.4s ease;
        transform: translateX(5px); }
        .block-invest #invest .panel-in .btn-panel-back:hover .arrow #downline {
          transform: scaleY(0);
          transition: .3s ease; }
        .block-invest #invest .panel-in .btn-panel-back:hover .arrow #sideways {
          -webkit-transition: transform 0.3s ease;
          -moz-transition: transform 0.3s ease;
          -o-transition: transform 0.3s ease;
          transition: transform 0.3s ease;
          transform: translateX(5px); }
    .block-invest #invest .panel-in .btn-panel-close {
      color: black;
      border-bottom: 1px solid !important;
      padding-bottom: 5px; }
      .block-invest #invest .panel-in .btn-panel-close:hover {
        border-color: transparent !important; }
    .block-invest #invest .panel-in input[type="submit"],
    .block-invest #invest .panel-in .btn {
      cursor: pointer;
      margin: 195px 0 100px; }
      .block-invest #invest .panel-in input[type="submit"] .arrow,
      .block-invest #invest .panel-in .btn .arrow {
        -webkit-transition: transform 0.4s ease;
        -moz-transition: transform 0.4s ease;
        -o-transition: transform 0.4s ease;
        transition: transform 0.4s ease;
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        width: 18px;
        margin-bottom: 3px;
        margin-right: 5px;
        fill: #000000; }
      .block-invest #invest .panel-in input[type="submit"]:hover .arrow,
      .block-invest #invest .panel-in .btn:hover .arrow {
        -webkit-transition: transform 0.4s ease;
        -moz-transition: transform 0.4s ease;
        -o-transition: transform 0.4s ease;
        transition: transform 0.4s ease;
        transform: translateX(5px); }
        .block-invest #invest .panel-in input[type="submit"]:hover .arrow #downline,
        .block-invest #invest .panel-in .btn:hover .arrow #downline {
          transform: scaleY(0);
          transition: .3s ease; }
        .block-invest #invest .panel-in input[type="submit"]:hover .arrow #sideways,
        .block-invest #invest .panel-in .btn:hover .arrow #sideways {
          -webkit-transition: transform 0.3s ease;
          -moz-transition: transform 0.3s ease;
          -o-transition: transform 0.3s ease;
          transition: transform 0.3s ease;
          transform: translateX(5px); }
  .block-invest #invest .owl-stage {
    transition: all 0.4s cubic-bezier(0.26, 0.1, 0.25, 1) !important; }
  .block-invest #invest .owl-item {
    background: white; }
    .block-invest #invest .owl-item:first-of-type {
      background: #0000FF; }
  .block-invest #invest .item > a {
    color: white; }
  .block-invest .owl-dots {
    display: none; }
  .block-invest .item.front {
    height: 100vh; }
  .block-invest .blocks {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    position: relative;
    max-height: 600px;
    height: 33.3333%;
    direction: ltr;
    cursor: pointer; }
    .block-invest .blocks:hover {
      background: white;
      color: black;
      cursor: pointer; }
      .block-invest .blocks:hover .btn-more,
      .block-invest .blocks:hover .info small,
      .block-invest .blocks:hover h1 {
        color: black; }
      .block-invest .blocks:hover svg,
      .block-invest .blocks:hover .arrow .cls-2 {
        fill: black; }
      .block-invest .blocks:hover .arrow {
        -webkit-transition: transform 0.4s ease;
        -moz-transition: transform 0.4s ease;
        -o-transition: transform 0.4s ease;
        transition: transform 0.4s ease;
        transform: translateX(20px); }
        .block-invest .blocks:hover .arrow #downline {
          transform: scaleY(0);
          transition: .3s ease; }
        .block-invest .blocks:hover .arrow #sideways {
          -webkit-transition: transform 0.3s ease;
          -moz-transition: transform 0.3s ease;
          -o-transition: transform 0.3s ease;
          transition: transform 0.3s ease;
          transform: translateX(25px); }
  .block-invest #panel-apply.panel-in .form-header {
    border-bottom: 0; }
  .block-invest #panel-apply .body {
    background-color: #FDFDFD;
    line-height: 128%;
    position: relative;
    overflow: hidden; }
    .block-invest #panel-apply .body .sub-heading p {
      margin-left: 10px;
      margin-right: 10px; }
    .block-invest #panel-apply .body:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #777777; }
    .block-invest #panel-apply .body:last-of-type {
      border-bottom: 1px solid #777777; }
    .block-invest #panel-apply .body .btn {
      width: auto;
      margin: 20px 0 40px;
      float: none;
      height: 48px; }
    .block-invest #panel-apply .body p {
      color: black; }
  .block-invest #panel-volunteer form {
    margin-top: 6px; }
  .block-invest #panel-volunteer input:not([type="submit"]),
  .block-invest #panel-volunteer select {
    padding-bottom: 20px; }
  .block-invest .volunteer {
    border-bottom: 0; }
  .block-invest .receive h1,
  .block-invest .give h1 {
    cursor: pointer;
    margin: 0;
    color: white; }
  .block-invest .receive a,
  .block-invest .give a {
    opacity: 1; }
  .block-invest .receive .wrap,
  .block-invest .give .wrap {
    position: absolute;
    left: 0;
    right: 0; }
    .block-invest .receive .wrap:first-of-type,
    .block-invest .give .wrap:first-of-type {
      top: 0; }
    .block-invest .receive .wrap:last-of-type,
    .block-invest .give .wrap:last-of-type {
      bottom: 0; }
  .block-invest .receive {
    border-bottom: 1px solid white; }
  .block-invest .info {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    overflow: hidden; }
    .block-invest .info small {
      float: left;
      position: relative;
      padding-left: 40px;
      display: block;
      line-height: 115%;
      letter-spacing: 0.024em;
      color: white;
      width: 55%; }
      .block-invest .info small svg {
        position: absolute;
        top: 0;
        left: 10px;
        fill: white;
        width: 17px;
        height: 17px; }
      .block-invest .info small p {
        margin: 0; }
    .block-invest .info .btn-more {
      float: right;
      color: white;
      line-height: 128%;
      border-bottom: 1px solid; }
  @media only screen and (max-width: 1024px) {
    .block-invest br {
      display: none; }
    .block-invest .info small {
      width: 65%; } }
  @media only screen and (max-width: 992px) {
    .block-invest #panel-apply .body .btn {
      height: auto;
      white-space: inherit; } }
  @media only screen and (max-width: 767px) {
    .block-invest .blocks {
      border-left: 0; }
    .block-invest .sticky {
      display: none !important; }
    .block-invest .receive,
    .block-invest .give {
      border-left: 0;
      max-height: 400px; }
      .block-invest .receive .arrow-animate-2,
      .block-invest .give .arrow-animate-2 {
        width: 40px;
        height: 30px;
        margin: 0 30px 155px; }
    .block-invest .btn-more {
      display: none; }
    .block-invest .info small {
      width: 80%;
      padding-left: 30px; }
      .block-invest .info small svg {
        left: 0; } }
  @media screen and (min-width: 413px) and (max-width: 899px) {
    .block-invest .receive,
    .block-invest .give {
      min-height: 200px; }
    .block-invest .info {
      padding-bottom: 20px; } }

.block-heading {
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
  position: absolute;
  top: 55px; }
  .block-heading.active {
    top: 180px; }

/*# sourceMappingURL=../js/app.js.map*/