footer{
    opacity: 0;
    @include animate(1s, opacity, cubic-bezier(0.4, 0.0, 0.2, 1));
    &.loaded{
        opacity: 1;
    }
    &.footer-1{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    
        svg{
            display: block;
            width: 150px;
            height: 80px;
            margin-bottom: -6px;
        }
        &.stuck{
            position: absolute;
            bottom: 0;
        }
        &.footer-mobile{
            display: none;
            width: 100%;
            position: absolute;

            svg{
                width: 90px;
                height: 45px;
            }
        }
        @media #{$tablet}{
            &.footer-desktop{
                display: none;
            }
            &.footer-mobile{
                display: block;
            }
        }
        @media #{$custom-breakpoint}{
            svg{
                width: 135px;
                height: 65px;
                margin-bottom: -3px;
            } 
            .spacing-bottom-20{
                padding-bottom: 20px;
            }
        }
    }
    &.footer-contact{
        box-shadow:0px 1px 8px 3px rgba(128, 128, 128, 0.75);
        -moz-box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
        -webkit-box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
        //box-shadow: 0px 15px 20px #bdbdbdbd; 
        //border-bottom: 2px solid;
        background: $blue;
        line-height: 128%;
        position: relative;
        width: 100%;
        z-index: 1;
        opacity: 1;
        
        h1{
            cursor: pointer;
            margin: 0;
        }
        .arrow-animate-2{
            fill: white;
            width: 100px;
            height: 50px;
            margin: 0 40px;
        }
        h4{
            margin-bottom: 3px;
        }
        p{
            &:last-of-type{
                margin: 0;
            }
        }
        a{
            border-bottom: 1px solid;
            color: white;
        }
        .info{
            padding-left: 25px;

            small{
                position: relative;
                padding-left: 35px;
                display: block;
            
                svg{
                    position: absolute;
                    top: -3px;
                    left: 10px;
                    fill: white;
                    width: 17px;
                    height: 17px;
                }
                &.no-icon{
                    padding-left: 0;
                }
            }
        }
        #mc_embed_signup{
            margin-top: 25px;

            input{
                background: transparent;
                text-align: left;
                margin-bottom: 0;
                color: white;
                padding: 0;
                border: 0;

                &::-webkit-input-placeholder {
                    color: white;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: white;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: white;
                }
                &:-ms-input-placeholder {
                    color: white;
                }
                &:active,
                &:focus,
                &:-webkit-autofill{
                    background: transparent;
                    -webkit-box-shadow: 0 0 0 30px $blue inset;
                    -webkit-text-fill-color: white;
                }
                &[type="submit"]{
                    cursor: pointer;
                    margin-top: 25px;
                    border-bottom: 1px solid;
                    display: inline-block;
                    width: auto;
                }
            }

            div.mce_inline_error{
                background: transparent;
                color: red;
                padding: 0;
                font-size: 12px;
                margin: 0;
            }
        }
        @media #{$wide}{
            p{
                &:last-of-type{
                    margin-bottom: 25px;
                }
            }
        }   
        
        @media #{$tablet}{
            margin-top: 0;
            .info{
                padding-left: 5px;
            }
            #menu-social-nav{
                margin-bottom: 14px;
            }
            .arrow-animate-2{
                width: 40px;
                height: 30px;
                margin: 0 30px 155px;
            }

            #mc_embed_signup{
                margin-bottom: 25px;
            }
        }

        @media #{$custom-breakpoint}{
            h1{
                margin-bottom: 60px;
            }
            .info{
                padding-bottom: 20px;
                
                small{
                    margin-top: 20px;
                }
            }
        }
    }
    &.footer-bottom{
        z-index: 0;
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        color: black;
        &.loaded{
            display: block;
        }
        .wrap{
            position: relative;
        }
        .bg-dots{
            overflow: hidden;
            height: 100vh;

            .pattern{
                @extend .bg-patterns;
                height: 100vh;
            }
        }
        svg{
            @include vertical-align(absolute);
            width: 100px;
            height: 49px;
        }
        .content{
            max-width: 80%;
            padding: 0 130px;
            display: block;
        }
        small{
            line-height: 115%;
            letter-spacing: 0.02em;
            display: block;
        }
        .copyright{
            position: absolute;
            right: 50px;
            top: 0;
        }
        @media #{$wide}{
            .content{
                br{
                    display: none;
                }
            }
        }
        @media #{$ipadl}{
            .content{
                padding: 0 0 0 130px;
                max-width: 100%;
            }
            .copyright{
                display: none;
            }
        }
        @media #{$tablet}{
            opacity: 1;
            display: block;
            z-index: -3;
            .content{
                display: none;
            }
            .wrap{
                overflow: hidden;
            }
            .copyright{
                display: block;
                width: 50%;
                right: 0;
                position: relative;
                float: right;
                padding: 0;
            }
        }
        @media #{$custom-breakpoint}{
            .bg-dots{
                .pattern{
                    position: relative;
                    &:before{
                        content: '';
                        display: block;
                        background: white;
                        top: 0;
                        left: 0;
                        right: 0;
                        height:  55px;
                    }
                }
            }
        }
    }
}

#footer-spacing{
    width: 100%;
    height: 250px;
    position: relative;
    z-index: -1;
    opacity: 0;
}