.block-fund{
    h1{
        text-transform: uppercase;
        margin: 0 0 -6px;
        width: 60%;
    }
    p{
        margin: 0;
    }
    .info{
        small{
            position: relative;
            padding-left: 40px;
            display: block;
        
            svg{
                position: absolute;
                top: 0;
                left: 10px;
                fill: white;
                width: 17px;
                height: 17px;
            }
            &.no-icon{
                padding-left: 0;
            }
        }
    }
    .now,
    .target,
    .statistics{
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        position: relative;
        height: 100vh;
        max-height: 1200px;
        min-height: 900px;
        
        .wrap{
            position: absolute;
            left: 0;
            right: 0;

            &:first-of-type{
                top: 0;
            }
            &:last-of-type{
                bottom: 0;
            }
        }
    }
    .target{
        border-bottom: 0;
    }
    .graph-list{
        text-align: right;
        margin: 0 auto;
        width: 83%;
    }
    .graph-xl{
        @include vertical-align;
        overflow: visible;
        width: 85%;
        top: 45%;
        margin: 0 auto;
        display: block;

        .cls-1{
            fill:none;
        }
        &.after{  
            .cls-2{
                fill:#fff;
            }
            .cls-3{
                clip-path:url(#clip-path);
            }
        }
        &.then{
            .cls-2{
                clip-path:url(#clip-path);
            }
            .cls-3{
                fill:white;
            }
        }
    }
    .graph-sm{
        @include vertical-align;
        overflow: visible;
        width: 85%;
        margin: 0 auto;
        display: block;
        top: 43%;

        #Circle-5_x5F_pattern, #Circle-4_x5F_pattern, #Circle-3_x5F_pattern, #Circle-2_x5F_pattern, #Circle-1_x5F_pattern{
            opacity: 0;
            transition: 0s;
            cursor: pointer;
        }
        
        #Circle-5_x5F_pattern:hover {
            opacity: 1;
            transition: 0s;
        }
         #Circle-4_x5F_pattern:hover {
            opacity: 1;
            transition: 0s;
        }
         #Circle-3_x5F_pattern:hover {
            opacity: 1;
            transition: 0s;
        }
         #Circle-2_x5F_pattern:hover {
            opacity: 1;
            transition: 0s;
        }
         #Circle-1_x5F_pattern:hover {
            opacity: 1;
            transition: 0s;
        }
    }
    .graph{
        border: 3px solid white;
        border-radius: 50%;
        padding-bottom: 63%;
        overflow: hidden;
        width: 63%;
        top: 43%;
    
        &.md{
            position: relative;
            display: inline-block;
            padding-bottom: 32%;
            margin: -2px -3px;
            width: 33.33333333%;
        }
    
        .progress{
            border-top: 3px solid white;
            position: absolute;
            background-image: url('../img/graph.jpg');
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
        
            &.full,{
                border: 0;
            }
            &.hover{
                opacity: 0;
                border: 0;
    
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    @media #{$ipadl}{
        br{
            display: none;
        }
        .graph-list{
            max-width: 315px;
        }
        .graph{
            &.md{
                width: 50%;
                padding-bottom: 48%;
                margin: -1px -3px;
                border: 2px solid white;

                &:first-of-type{
                    display: block;
                    margin-left: auto;
                }
            }
        }
    }
    @media #{$tablet}{
        h1{
            width: 80%;
        }
        .sticky{
            display: none !important;
        }
        .now,
        .target,
        .statistics{
            border-left: 0;
            max-height: 800px;
            min-height: 400px;
        }
        .info{
            small{
                svg{
                    top: 0;
                }
            }
        }
        .graph-list{
            width: 90%;
            top: 45%;
            text-align: center;
            max-width: inherit;
        }
        .graph{
            &.md:first-of-type{
                margin-right: 2px;
            }
        }
    }
    @media #{$custom-breakpoint}{
        .graph-xl{
            width: 110%;     
            left: -5%;
        }
        .graph-sm{
            transform: translateY(-50%) rotate(90deg); 
            width: 110%; 
            left: -5%; 
            margin-top: 5%;
        }
        .info{
            padding-bottom: 20px;
        }
    }
    @media #{$custom-mobile}{
        .graph-xl{
            width: 110%;
            left: -5%;
        }
        .graph-sm{
            transform: translateY(-50%) rotate(90deg);
            width: 110%;
            left: -5%;
        }
        .info{
            small{
                width: 90%;
            }
        }
    }
}