#section-4{
    position: relative;
    z-index: 2;

    @media #{$tablet}{
        position: relative;
        z-index: 100;
    }
}

.block-get-involved{
    .top-heading{
        h4{
            margin: 0;
        }
    }
    .description{
        a{
            color: black;
            border-bottom: 1px solid;

            &:hover{
                border-bottom: 0;
            }
        }
        p:last-of-type{
            margin: 0;
        }
    }
    .accordion{
        padding: 0;
        margin: 0;
        border-bottom: 1px solid black;

        li{
            list-style: none;
            border-top: 1px solid black;

            &.active{
                // .body{
                //     height: 0 !important;
                // }

                .btn-collapse{
                   
                    svg{
                        @include rotate(0deg);
                    }
                }
            }
            .btn-collapse{
                @extend .text-medium;
                position: relative;
                color: black;
                display: block;
                padding-bottom: 0;
    
                svg{
                    @include rotate(180deg);
                    @include animate(.2s, all, ease-in-out);
                    width: 20px;
                    height: 20px;
                    top: -4px;
                    right: 20px;
                    position: absolute;
                }
            }
            .body{
               // @include animate(.5s, height, cubic-bezier(0.1, 0.01, 0, 1));
                background-color: $white2;
                line-height: 128%;
                position: relative;
                overflow: hidden;

                .sub-heading p{
                    margin-left: 10px;
                    margin-right: 10px;
                }

                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    border-top: 1px solid $border-grey;
                }
                a{
                    color: black;
                    border-bottom: 1px solid;
                }
                p{
                    &:first-of-type{
                        @extend .spacing-top-24;
                    }
                }
            }
        }
    }
    .title{
        h4{
            margin: 0;
        }
    }
    .table-list{
        line-height: 128%;
        padding-left: 10px;
        padding-right: 10px;
        .row{
            &:not(:first-of-type){
                background-color: $white2;
            }
            > div{
                padding-left: 10px; 
                padding-right: 45px;
            }
        }
        p{
            margin: -5px 0;
        }
        .row:first-of-type{
            border-bottom: 1px solid $border-table;
        }
        .timing{
            border-left: 1px solid $border-table;
            border-right: 1px solid $border-table;
            border-bottom: 1px solid $border-table;
        }
        .activity{
            border-right: 1px solid $border-table;
            border-bottom: 1px solid $border-table;
        }
    }
    .info{
        small{
            position: relative;
            padding-left: 30px;
            display: block;
            line-height: 115%;
            letter-spacing: 0.024em;
            color: black;
            margin-top: -5px; 
            width: 90%;
        
            svg{
                position: absolute;
                top: -3px;
                left: 0;
                fill: black;
                width: 17px;
                height: 17px;
            }
            p{
                margin: 0;
                
                &:first-of-type{
                    margin: 0 0 13px;
                }
            }
        }
    }
    .gallery-wrapper{
        @extend .spacing-top-48;
        @extend .spacing-bottom-52;
    }
    @media #{$ipadl}{
        .info{
            padding-top: 0;
        }
    }
    @media #{$tablet}{
        .spacing-left-40{
            padding-left: 0;
        }
        .accordion,
        .table-list{
            .spacing-bottom-24,
            .spacing-bottom-18{
                padding-bottom: 14px;
            }
            .spacing-top-24,
            .spacing-top-18{
                padding-top: 14px;
            }
        }
        .accordion{
            li{
                .body > div{
                    padding-top: 14px;
                }
            }
        }
        .title{
            &.spacing-bottom-24{
                padding-bottom: 14px;
            }
            &.spacing-top-24{
                padding-top: 14px;
            }
        }
        .spacing-bottom-100{
            padding-bottom: 0;
        }
        .table-list{
            padding-bottom: 14px;
            .row{
                &:first-of-type{
                    display: none;
                }
                &:last-of-type{
                    border-bottom: 1px solid $border-table;
                }
            }
            .timing{
                border: 1px solid $border-table;
            }
            .activity{
                border-left: 1px solid $border-table;
                border-bottom: 0;
            }
        }
    }
    @media #{$custom-breakpoint}{
        .description{
            p{
                font-size: 20px;
            }
        }
        .accordion{
            .spacing-bottom-24 {
                padding-bottom: 20px;
            }
            .spacing-top-24 {
                padding-top: 20px;
            }
            li{
                .btn-collapse{
                    font-size: 16px;
                    svg{
                        right: 10px;
                    }
                }
                .body{
                    > div{
                        padding-top: 20px;
                    }
                    p:first-of-type{
                        padding-top: 0;
                    }
                    .spacing-right-10{
                        padding-left: 10px;
                    }
                }
            }
        }
        .info{
            padding-bottom: 40px;
        }
        .title{
            &.spacing-bottom-24{
                padding-bottom: 40px;
            }
        }
    }
    @media #{$custom-mobile}{
        .title.spacing-bottom-24{
            padding-bottom: 36px;
        }
        .accordion{
            .spacing-top-24{
                padding-top: 18px;
            }
            .spacing-bottom-24{
                padding-bottom: 18px;
            }
            li{
                .body{
                    .spacing-right-10{
                        padding-left: 10px;
                    }
                    > div{
                        padding-top: 0;
                    }
                    .sub-heading{
                        p{
                            margin-top: 18px;
                            margin-bottom: 18px;
                        }
                    }
                    p:first-of-type{
                        padding-top: 0;
                    }
                }
            }
        }
    }
}