header{
    z-index: 120;
    position: relative;
    opacity: 0;
    @include animate(1s, opacity, cubic-bezier(0.4, 0.0, 0.2, 1));
    &.loaded{
        opacity: 1;
    }
    &.stuck{
        background: $blue;
        position: absolute;
    }
    a {
        color: white;
    }
    .brand{
        padding: 0;
        margin: 0 5px;
    }
    .menu{
        li{
            margin: 0 0 8px;
        }
        a{
            border-bottom: 1px solid;
        }
    }
    .menu-toggle{
        padding: 0;
        &:after{
            content: '';
            width: 0; 
            height: 0; 
            display: inline-block;
            vertical-align: middle;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 7px solid white;
            margin: -2px 4px 0px;
        }
        &.collapsed{
            &:after{
                @include rotate(180deg);
            }
        }
        .brand{
            display: none;
        }
    }
    .header-menu{
        @include animate(.3s, all, ease);
        max-height: 0; 
        height: 0;
        opacity: 0; 
        visibility: hidden;
        > div{
            @extend .spacing-top-20;
        }
        &.active{
            @include animate(.3s, all, ease);
            max-height: 700px;
            height: auto;
            opacity: 1; 
            visibility: visible; 
        }
    }
    @media #{$ipadl}{
        .brand{
            display: block;
        }
    }
    @media #{$tablet}{
        width: 100%;
        &.wrap{
            margin-left: 0;
            margin-right: 0;
        }
        .brand{
            margin: 0px 20px;
        }
        .spacing-top-20{
            padding-top: 20px;
        }
        .spacing-bottom-20{
            padding-bottom: 20px;
        }
        > div{ 
            background: $blue;
        }
        .menu-toggle{
            z-index: 10;
            float: none;
            display: block;
            position: relative;
            padding: 20px 0;
            span:not(.brand){
                display: none;
            }
            .brand{
                display: block;
            }
            &:after{
                @include vertical-align(absolute);
                right: 20px;
                margin: 0;
            }
            &.collapsed:after{
                top: 45%;
            }
        }
        .menu-wrap{
            position: absolute !important;
            left: 0;
            right: 0;
            top: 0;
        }
        .header-menu{
            background: $blue;
            overflow: hidden;
            padding: 0;
            opacity: 1;
            visibility: visible;

            > div{
                padding-top: 0;
            }
            &.active{
                max-height: inherit;
                height: 100vh;
            }
        }
        .menu{
            padding: 0 20px;
            margin: 0 0 20px;
            li{
                display: block;
            }
        }
    }
    @media #{$custom-breakpoint}{
        width: auto;
    }
}