.block-image{
    h1{
        display: none;
    }
    .bg-img{
        width: 100%;
        padding-bottom: 100%;
        min-height: 600px;
        max-height: 1200px;
        height: 100vh;
        cursor: s-resize;
    }
    .btn-next{
        @include rotate(-90deg);
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 100;
        svg{
            fill: white;
            width: 35px;
            height: 35px;
        }
    }
    footer{
        display: none;
    }
    @media #{$ipadl}{
        .bg-img{
            max-height: 1000px;
        }
    }
    @media #{$tablet}{
        .mobile-view{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            
            header{
                > div{
                    background: transparent;
                }
                .menu-wrap{
                    position: inherit;
                }
                .header-menu{
                    background: transparent;

                    footer{
                        display: none;
                    }
                }
            }
        }
        h1{
            margin-top: -8px;
            padding: 0 20px;
            display: block;
            @include animate(.3s, top, ease);
            position: absolute;
            top: 55px;

            &.active{
                top: 180px;
            }
        }
        .bg-img{
            padding-top: 50px;
            max-height: 800px;
            opacity: .35;
        }
        .btn-next{
            right: 10px;
        
            svg{
                width: 32px;
                height: 25px;
            }
        }
        footer{
            display: block;
        }
    }
    @media #{$custom_breakpoint}{
        h1{
            padding: 0 15px;
        }
        .bg-img{
            opacity: .35;
        }
        .btn-next{
            bottom: 22px;
            svg{
                width: 40px;
                height: 35px;
            }
        }
    }
    @media #{$custom-mobile}{
        h1{
            padding: 0 25px 0 10px;
        }
    }
}