#section-5{
    border-bottom: 2px solid #fff;
    box-shadow: -4px 0px 8px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
    overflow: inherit;

    .sticky-el{
        position: absolute;
    }

    &:before{
        content: '';
        display: block;
        background: $blue;
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        height: 70px;
    }
}

.block-invest{
    position: relative; //fixed this alignment when added custom scroll
    //right: -4px;

    .wpcf7-not-valid-tip{
        font-size: 10px;
    }

    .wpcf7-response-output{
        color: black;
        padding: 10px;
        margin: 20px 0 0;
        line-height: normal;
    }

    #invest{
        //height: 100vh;

        .panel-in{
            direction: ltr;
            min-height: 100vh;

            .info{
                small{
                    color: black;

                    svg{
                        fill: black;
                    }
                }
            }

            p{
                color: $grey;
            }

            .form-header{
                border-bottom: 1px solid $grey;
                
                p{
                    line-height: 90%;
                    margin: 0;
                }
            }

            .btn-panel-back{
                color: $grey;
                float: right;
                
                .arrow{
                    @include animate(.4s, transform, ease);
                    display: inline-block;
                    vertical-align: middle;
                    height: 18px;
                    width: 18px;
                    margin-right: 10px;
                    fill: $grey;
                }

                &:hover{
                    .arrow{
                        @include animate(.4s, transform, ease);
                        transform: translateX(5px);
            
                        #downline {
                            transform: scaleY(0);
                            transition: .3s ease;
                        }
                        
                        #sideways {
                            @include animate(.3s, transform, ease);
                            transform: translateX(5px);
                        }
                    }
                }
            }

            .btn-panel-close{
                color: black;
                border-bottom: 1px solid !important;
                padding-bottom: 5px;

                &:hover{
                    border-color: transparent !important;
                }
            }

            input[type="submit"],
            .btn{
                cursor: pointer;
                margin: 195px 0 100px;

                .arrow{
                    @include animate(.4s, transform, ease);
                    display: inline-block;
                    vertical-align: middle;
                    height: 18px;
                    width: 18px;
                    margin-bottom: 3px;
                    margin-right: 5px;
                    fill: #000000;
                }

                &:hover{
                    .arrow{
                        @include animate(.4s, transform, ease);
                        transform: translateX(5px);
            
                        #downline {
                            transform: scaleY(0);
                            transition: .3s ease;
                        }
                        
                        #sideways {
                            @include animate(.3s, transform, ease);
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }

        .owl-stage  {
            transition: all .4s cubic-bezier(.26,.1,.25,1) !important;
        }  

        .owl-item{
            background: white;

            &:first-of-type{
                background: $blue;
            }
        }

        .item > a{
            color: white;
        }
    }

    .owl-dots{
        display: none;
    }

    .item.front{
        height: 100vh;
    }

    .blocks{
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        position: relative;
        max-height: 600px;
        height: 33.3333%;
        direction: ltr;
        cursor: pointer;

        &:hover{
            background: white;
            color: black;
            cursor: pointer;

            .btn-more,
            .info small,
            h1{
                color: black;
            }
            svg,
            .arrow .cls-2{
                fill: black;
            }

            .arrow{
                @include animate(.4s, transform, ease);
                transform: translateX(20px);
    
                #downline {
                    transform: scaleY(0);
                    transition: .3s ease;
                }
                
                #sideways {
                    @include animate(.3s, transform, ease);
                    transform: translateX(25px);
                }
            }
        }
    }

    #panel-apply{
        &.panel-in .form-header{
            border-bottom: 0;
            
        }
        .body{
            // @include animate(.5s, height, cubic-bezier(0.1, 0.01, 0, 1));
            background-color: $white2;
            line-height: 128%;
            position: relative;
            overflow: hidden;

            .sub-heading p{
                margin-left: 10px;
                margin-right: 10px;
            }

            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                border-top: 1px solid $grey;
            }
            &:last-of-type{
                border-bottom: 1px solid $grey;
            }
            .btn{
                width: auto;
                margin: 20px 0 40px;
                float: none;
                height: 48px;
            }
            p{
                color: black;
                &:first-of-type{
                    @extend .spacing-top-24;
                }
            }
        }
    }

    #panel-volunteer{
        form{
            margin-top: 6px;
        }

        input:not([type="submit"]),
        select{
            padding-bottom: 20px;
        }
    }

    .volunteer{
        border-bottom: 0;
    }

    .receive,
    .give{
        //height: 50vh;
        //min-height: 450px;
        //min-height: 300px;

        

        h1{
            cursor: pointer;
            margin: 0;
            color: white;
        }

        a{
            opacity: 1;
        }

        .wrap{
            position: absolute;
            left: 0;
            right: 0;

            &:first-of-type{
                top: 0;

                // h1{
                //     line-height: 74%;
                // }
            }
            &:last-of-type{
                bottom: 0;
            }
        }
    }
    
    .receive{
        border-bottom: 1px solid white;
    }
    
    .info{
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        overflow: hidden;

        small{
            float: left;
            position: relative;
            padding-left: 40px;
            display: block;
            line-height: 115%;
            letter-spacing: 0.024em;
            color: white;
            width: 55%;
        
            svg{
                position: absolute;
                top: 0;
                left: 10px;
                fill: white;
                width: 17px;
                height: 17px;
            }
            p{
                margin: 0;
            }
        }
        .btn-more{
            float: right;
            color: white;
            line-height: 128%;
            border-bottom: 1px solid;
        }
    }
    @media #{$ipadl}{
        br{
            display: none;
        }
        .info{
            small{
                width: 65%;
            }
        }
    }
    @media #{$desktop}{
        #panel-apply{
            .body{
                .btn{
                    height: auto;
                    white-space: inherit;
                }
            }
        }
    }
    @media #{$tablet}{
        .blocks{
            border-left: 0;
        }
        .sticky{
            display: none !important;
        }
        .receive,
        .give{
            border-left: 0;
            max-height: 400px;

            .arrow-animate-2{
                width: 40px;
                height: 30px;
                margin: 0 30px 155px;
            }
        }
        .btn-more{
            display: none;
        }
        .info small{
            width: 80%;
            padding-left: 30px;

            svg{
                left: 0;
            }
        }
    }
    @media #{$custom-breakpoint}{
        .receive,
        .give{
            min-height: 200px;
        }
        .info{
            padding-bottom: 20px;
        }
    }
}