#loader {
    @include animate(1s, width, cubic-bezier(0.4, 0.0, 0.2, 1));
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    //opacity: 0;
    
    #bm{
        @include vertical-align(absolute);
        left: 0;
        right: 0;
        width: 150px;
        margin: 0 auto;
    }
    &.active{
        display: none;
        //width: 50%;
        //opacity: 0;

        // &:after{
        //     opacity: 0;
        // }
    }
    @media #{$tablet}{
        &.active{
            width: 100%;
        }
    }
    @media #{$custom-breakpoint}{
        #bm{
            width: 100px;
        }
    }
}