#section-1{
    &.playing{
        height: 100vh;
    }

    .no-gutters{
        height: 100%;
    }

    .row.no-gutters{
        &.active{
            .block-video{
                margin-left: 0%;
                flex: 0 0 100%;
                max-width: 100%;

                .btn-play,
                .bg-video:after{
                    display: none;
                }
                .btn-back{
                    display: block;
                }
            }

            &:after{
                transform: translate(-100%, 0);
            }
        }

        &.transform-transition{
            &:after{
                @include animate(.7s, transform, cubic-bezier(.26,.1,.25,1));
            }
        }
        
        &:after{
            @include animate(.4s, transform, ease);
        }
    }

    &.hovered{
        .fp-tableCell > .row:after{
            transform: translate(-10px, 0);
            //width: 49%;
        }
    }
}

.block-video{
    @include animate(.7s, all, cubic-bezier(.26,.1,.25,1));

    &.active{
        margin-left: 0%;
        flex: 0 0 100%;
        max-width: 100%;

        .btn-play,
        .bg-video:after{
            display: none;
        }
        .btn-back{
            display: block;
        }
    }

    &.overflow-hidden{
        overflow: hidden;
    }

    .bg-video{
        background: rgba(0, 0, 255, 1); 
        position: relative;
        width: 100%;
        //padding-bottom: 100%;
        min-height: 600px;
        max-height: 1200px;
        height: 100vh;
        cursor: pointer;
        
        // &:before{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     //background: rgba(0, 0, 255, 1);
        //     //background: rgba(0,0,255, 0.5);
        //     left: -100%;
        //     right: -100%;
        //     height: 100%;
        // }
        &:hover{
            .btn-play{
                svg{
                    transform: scale(0.9);
                }
            } 
        }
    }
    video{
        position: absolute;
        color: white;
        left: 0;
        right: 0;
        height: 100%;
    }
    #loop{
        background: rgba(0, 0, 255, 1); 
        //z-index: -1;
        height: 100%;
        left: -3%;
        position: relative;
        
        video{
            mix-blend-mode: multiply;
            pointer-events: none !important;
        }

        .bg-img{
            display: none;
            mix-blend-mode: multiply;
            pointer-events: none;
        }
    }
    #vid,
    #vid-mobile{
        display: none;
        background: black;
        position: absolute;
        height: 100vh;
        width: 100vw;
    }
    .vid-controls{
        display: none;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 740px;
        max-width: 100%;

        > div{
            position: relative;
            padding-left: 25px;
        }

        span{
            display: inline-block;
            vertical-align: middle;
        }

        button{
            background: transparent;
            display: inline-block;
            vertical-align: middle;
            outline: none;
            padding: 0;
            border: 0;
        }

        .ctrl-screen{
            svg{
                width: 20px;
                height: 14px;
            }
        }

        .ctrl-vol{
            text-align: center;
            margin: 0 10px;

            svg{
                height: 20px;
                width: 20px;
            }

            .on{
                display: block;
            }

            .off{
                display: none;
            }

            &.muted{
                margin: 0 0 0 10px;

                .off{
                    display: block;
                }

                .on{
                    display: none;
                }
            }
        }

        .ctrl-play{
            position: absolute;
            z-index: 100;
            left: 0;

            svg{
                height: 20px;
                width: 20px;
                position: relative;
                //bottom: -2px;
            }

            .play{
                display: none;
            }

            .pause{
                display: block;
            }

            &.paused{
                .pause{
                    display: none;
                }
                .play{
                    display: block;
                }
            }
        }

        progress, 
        progress[role] {
            border: none;
			background-size: auto;
            font-size: 12px;
            width: 100%;
            height: 14px;
            border: 1px solid white;
            vertical-align: middle;
            
            &:after {
                background-image: none; /* removes default background from polyfill */
            }
        }

        progress[value]::-webkit-progress-bar {
            background: rgba(0,0,0,0) 66%; 
        }

        progress[value]::-webkit-progress-value {
            background-color: white;
        }

        .pull-right{
            font-size: 13px;
            padding: 5px 0;
        }
    }
    .btn-back{
        padding: 20px;
        position: absolute;
        top: 0;
        display: none;

        &:before{
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 8px solid white;
            vertical-align: middle;
            margin-right: 8px;
            position: relative;
            top: -1px;
        }
    }
    .btn-play{
        @include vertical-align(absolute);
        pointer-events: none;
        margin: 20px auto;
        left: 0;
        right: 0;
        z-index: 100;
        height: 70px;
        width: 70px;

        svg{
            @include animate(.4s, transform, ease);
            display: block;
            transform: scale(1);
        }
          
        &:after {
            border-style: solid;
            border-color: transparent transparent transparent white;
            content: ' ';
            font-size: 14px;
            height: 0;
            width: 0;
            left: 0;
            margin: 0 auto;
            border-width: 12px 0 12px 20px;
            right: -7px;
            @include vertical-align(absolute);
        }
    }

    .info{
        @extend .small-size;
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: white;
        z-index: 100;
        &:after{
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            margin: -1px 0 0 10px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid white;
            vertical-align: middle;
        }
    }

    @media #{$ipadl}{
        .bg-video{
            max-height: 1000px;
        }
    }
    @media #{$tablet}{
        #vid{
            display: none !important;
        }

        #vid-mobile{
            background: black;
            iframe{
                @include vertical-align(absolute);
                display: block;
                opacity: 1;
                left: 0;
                right: 0;
                margin: 0 auto;
                max-width: 100%;
            }
        }

        .mobile-view{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            
            header{
                > div{
                    background: transparent;
                }
                .menu-wrap{
                    position: inherit;
                }
                .header-menu{
                    height: auto;
                    background: transparent;

                    footer{
                        display: none;
                    }
                }
            }
        }

        h1{
            margin-top: -8px;
            padding: 0 20px;
            display: block;
            @include animate(.3s, top, ease);
            position: absolute;
            top: 55px;

            &.active{
                top: 180px;
            }
        }

        .bg-video{
            max-height: 800px;
            position: relative;
            height: 100vh;

            // video{
            //     @include vertical-align(absolute);
            //     height: auto;
            //     max-width: 100%;
            // }
        }

        #loop{
            left: 0;

            video{
                display: none;
            }

            .bg-img{
                display: block;
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                padding-top: 50px;
                max-height: 800px;
            }
        }

        .vid-controls{
            padding: 0 20px;
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #loop:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(0,0,255, 0.6);
        left: -100%;
        right: -100%;
        height: 100%;
        top: 0;
    }
}

@supports (-ms-ime-align: auto) {
    #loop:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(0,0,255, 0.6);
        left: -100%;
        right: -100%;
        height: 100%;
        top: 0;
    }
}