.block-what-we-do{
    line-height: 128%;

    .top-heading{
        h4{
            margin: 0;
        }
    }
    .description{
        padding-bottom: 23px;
    }
    .content{
        p:last-of-type{
            margin: 0;
        }
    }
    @media #{$ipadl}{
        .description{
            padding-bottom: 28px;
        }
    }
    @media #{$tablet}{
        .description{
            padding-bottom: 24px;
            p{
                &:last-of-type{
                    margin: 0;
                }
            }
        }
    }
    @media #{$custom-breakpoint}{
        .description{
            p{
                font-size: 20px;
            }
        }
    }
}