#section-feed{
    box-shadow: 0px 15px 30px #04009a61;
    border-bottom: 2px solid white;
    //display: none;

    .bg-img{
        padding-bottom: 60.75%;
        position: relative;
        z-index: 100;
    }

    .block-feed{
        background: white;
        position: relative;
        z-index: 10;
        display: none;

        h1{
            color: black;
            margin-bottom: 115px;
        }
    
        small{
            float: left;
            position: relative;
            padding-left: 40px;
            display: block;
            line-height: 115%;
            letter-spacing: 0.024em;
            color: black;
            width: 75%;
        
            svg{
                position: absolute;
                top: 0;
                left: 10px;
                fill: black;
                width: 17px;
                height: 17px;
            }
            p{
                margin: 0;
            }
        }

        .crt-feed{
            padding-bottom: 5px; 
        }

        .crt-post-v2{
            padding: 0;
            .crt-post-border{
                border: 0;
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                border-right: 1px solid rgba(0, 0, 0, 0.1);
            }
        }

        .crt-list-post{
            padding: 0 20px;
            max-width: 100%;
            border-left: 1px solid $border-grey;
        }

        .crt-list-post-image{
            padding-top: 10px;

            img{
                max-width: 100%;
                height: auto;
            }
        }

        .crt-list-post-text-wrap{
            color: black;
            line-height: normal;
            overflow-wrap: break-word;
            padding: 10px 0 55px;

            a{
                color: black;
            }
        }

        .crt-post-c{
            margin-top: 10px;
        }

        .crt-post-footer{
            color: black;
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px;
            padding: 15px 0 0;
            border-top: 1px solid $border-grey;

            .crt-date{
                float: left;
                color: $grey;
            }

            a{
                float: right;
                color: $grey;

                svg{
                    display: inline-block;
                    vertical-align: middle;
                    height: 18px;
                    width: 18px;
                    margin-left: 10px;
                    fill: $grey;
                }
            }
        }

        .crt-load-more{
            display: none;
        }

        .owl-stage {
            display: flex;
        }
        .owl-item {
            display: flex;
            flex: 1 0 auto;
        }

        .owl-item:not(.active) + .owl-item.active{
            .crt-list-post{
                border: 0;
            }
        }
    }

    .parent-wrap{
        position: relative;
        padding-bottom: calc(100vh + 25px);
        z-index: 10;

        > .row{
            position: relative;
            background: $blue;
            box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow:0px 0px 8px 3px rgba(0, 0, 0, 0.25);
            border-bottom: 2px solid white; 
            z-index: 111; 
        }
    }
    
    .footer-contact{
        border-bottom: 2px solid white;
    }
    
    .fp-scroller{
        border-bottom: 2px solid #fff; 
        box-shadow:0px 1px 8px 3px rgba(128, 128, 128, 0.75);
        -moz-box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
        -webkit-box-shadow: 0px 1px 8px 3px rgba(128, 128, 128, 0.75);
        overflow: hidden;
        //border-bottom: 2px solid;
    }
    &.loaded{
        .footer-contact{
            border-bottom: 0;
        }
        .parent-wrap{
            padding-bottom: 100vh;
            margin-bottom: calc(-100vh);
        }
        .fp-scroller{
            margin-bottom: -100vh;
        }
    }

    .fp-tableCell > .row,
    > .row{
        &:after{
            display: none;
        }
    }

    @media #{$tablet}{
        border-bottom: 2px solid #fff;
        box-shadow: -4px 0px 8px 3px #808080d4;
        .parent-wrap{
            padding-bottom: 0;
        }

        .block-feed{
            .crt-list-post{
                padding: 0;
            }

            .crt-post-footer{
                left: 0;
                right: 0;
            }
        }
    }
    @media #{$mobile}{
        .block-feed{
            small{
                width: 100%;
            }
        }
    }
}