.block-who-we-are{
    line-height: 128%;
    background: $blue;

    .disable-slider{
        .owl-carousel{
            @extend .spacing-bottom-24;
        }

        .float-left, 
        .float-right{
            display: none;
        }
    }
    hr{
        display: none;
    }
    h4{
        margin: 0;
    }
    .top-heading{
        h4{
            line-height: 106%;
        }
    }
    .bg-img{
        padding-bottom: 67%;
    }
    .owl-video-tn{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/video-poster.jpg') !important;

        &:after{
            content: '';
            display: block;
            background: rgba(0,0,0, 0.0);
            position: absolute;
            left: 0;
            right: 0;
            height: 100%;
        }
    }
    .item-video{
        width: 100%;
        padding-bottom: 56.3%;
        background-color: white;
        position: relative;
    }
    iframe{
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        height: 100%;
        background: black;
    }
    .owl-video-wrapper{
        cursor: pointer;
        
        &:hover{
            .owl-video-play-icon span{
                &:before{
                    transform: scale(0.9);
                }
            }
        }
    }
    .owl-video-playing{
        background: black;
        .owl-video-play-icon,
        .owl-video-tn
        {
            opacity: 0;
            z-index: -1;
        }
    }
    .owl-video-play-icon{
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        z-index: 10;
        cursor: pointer;

        span{
            @include animate(.4s, all, ease);
            @include vertical-align(absolute);
            margin: auto;
            left: 0;
            right: 0;
            z-index: 10;
            height: 70px;
            width: 70px;

            &:before{
                @include animate(.4s, all, ease);
                border-radius: 50%;
                border: 1px solid white !important;
                transform: scale(1);
                height: 70px;
                width: 70px;
                content: '';
                display: block;
                margin: auto;
            }
              
            &:after{
                border-style: solid;
                border-color: transparent transparent transparent white; 
                border-width: 12px 0 12px 20px;
                @include vertical-align(absolute);
                height: 0;
                width: 0; 
                left: 0;
                right: -4px;
                content: '';
                margin: auto;
            }
        }

        &:hover{
            span{
                opacity: 0.9;
            }
        }
    }
    .positions{
        text-transform: capitalize;
        min-height: 70px;
        margin: 0;
    }
    .position{
       color: $grey; 
    }
    .description{
        padding-bottom: 23px;
    }
    .tab-content{
        p:last-of-type{
            margin: 0;
        }
    }
    .nav{
        display: block;
        border: 0;
        flex-wrap: inherit;

        a{
            @extend .body-size;
            color: $grey;
            border-bottom: 1px solid;

            &.active{
                border: 0;
                color: black;
            }
        }
    }
    @media #{$ipadl}{
        .positions{
            padding-bottom: 20px;
        }
        .description{
            padding-bottom: 28px;
        }
    }
    @media #{$tablet}{
        hr{
            margin-top: 48px;
            display: block;
        }
        .sticky{
            display: none !important;
        }
        .description{
            padding-bottom: 24px;
            p{
                &:last-of-type{
                    margin: 0;
                }
            }
        }
    }
    @media #{$custom-breakpoint}{
        .positions{
            min-height: 0px;
        }
        .description{
            p{
                font-size: 20px;
            }
        }
        h4,
        .nav a,
        p{
            font-size: 16px;
        }
    }
    @media #{$custom-mobile}{
        .positions{
            min-height: 0px;
        }
    }
}