/*!

 Theme Name: Choice Foundation
 Author: Sandbox Digital
 Author URI: http://sandbox.digital
 Version: 0.0.1

 */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body,
html {
    overflow-x: hidden;
    background-color: #ffffff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

li {
    display: list-item;
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
td,
th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

q:after,
q:before {
    content: '';
    content: none
}

small,
sub,
sup {
    font-size: 50%;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.8em;
    font-size: 0.5em;
}

svg {
    overflow: hidden;
}

input,
button,
submit {
    border: none;
}


/*––––––– Font styling –––––––*/

@font-face {
    font-family: 'untitled';
    src: url('assets/fonts/UntitledSansWeb-Regular.woff');
    src: url('assets/fonts/UntitledSansWeb-Regular.woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'untitled';
    src: url('assets/fonts/UntitledSansWeb-Medium.woff');
    src: url('assets/fonts/UntitledSansWeb-Medium.woff');
    font-style: bold;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "untitled", "Helvetica", "Arial", sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 1.05em;
    letter-spacing: -.05em;
    word-spacing: 0.05em;
}

h2 {
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.015em;
    word-spacing: 0.015em;
}

h3 {
    font-size: 10px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.01em;
    word-spacing: 0.01em;
}

h3 img {
    width: 16px;
    top: 4px;
    padding-right: 10px;
    position: relative;
}

p {
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.0125em;
    word-spacing: 0.0125em;
}

b,
strong {
    font-weight: 600;
    letter-spacing: -0.02em;
}

a {
    border: 2px solid #000;
    border-width: 0 0 2px;
    padding-bottom: 0px;
    cursor: pointer;
    color: currentColor;
}

a:hover {
    border-width: 0 0 0px;
}

@media screen and (min-width: 0px) and (max-width: 599px) {
    h1 {
        font-size: 30px;
        letter-spacing: -.025em;
        word-spacing: 0.025em;
    }
    h2 {
        font-size: 18px;
        letter-spacing: -0.02em;
        word-spacing: 0.02em;
    }
    p {
        font-size: 14px;
        letter-spacing: -0.01em;
        word-spacing: 0.005em;
    }
    a {
        border: 1px solid #000;
        border-width: 0 0 1px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    h1 {
        font-size: 42px;
        letter-spacing: -.035em;
        word-spacing: 0.035em;
    }
    h2 {
        font-size: 22px;
        letter-spacing: -0.02em;
        word-spacing: 0.02em;
    }
    p {
        font-size: 16px;
        letter-spacing: -0.01em;
        word-spacing: 0.005em;
    }
    a {
        border: 1px solid #000;
        border-width: 0 0 1px;
    }
}


/*––––––– H1 Arrow animation –––––––*/

svg {
    overflow: visible;
    width: 60px;
    margin-top: 10px;
    margin-left: 63px;
    cursor: pointer;
    transform: translateX(0px);
    transition: .5s ease;
}

#hover-arrow:hover svg {
    transform: translateX(20px);
    transition: .4s ease;
}

#downline {
    transition: .5s ease;
    transform: scaleY(1);
    transform-origin: center;
}

#sideways {
    transition: .5s ease;
    transform: translateX(0px);
}

#hover-arrow:hover #downline {
    transform: scaleY(0);
    transition: .3s ease;
}

#hover-arrow:hover #sideways {
    transform: translateX(25px);
    transition: .3s ease;
}


/*––––––– don't copy the CSS from below here –––––––*/

.text {
    margin-top: 20px;
    left: 30%;
    position: relative;
    width: 600px;
}

.text p {
    margin-top: 48px;
    left: 30%;
    position: relative;
    width: 70%
}

.text h1 {
    margin-top: 48px;
    left: 0%;
    position: relative;
    width: 105%;
    cursor: pointer;
}

.dropdown {
    border: 2px solid #979797;
    border-width: 1px 0 1px;
    padding: 18px 0 18px;
    width: 40%;
    position: relative;
    overflow: visible;
}

.dropdown p img {
    position: relative;
    width: 25px;
    top: -1px;
    margin-right: 9px;
    float: right;
}

.arrow-dropdown {
    transform: rotate(0deg);
    transition: .3s ease;
}

.dropdown:hover .arrow-dropdown {
    transform: rotate(180deg);
    transition: .3s ease;
}

.right-side_color {
    width: 50%;
    height: 100vh;
    background: #0000ff;
}