@font-face {
    font-family: 'UntitledSans-Medium';
    src: url('../fonts/UntitledSans-Medium.woff2') format('woff2'),
        url('../fonts/UntitledSans-Medium.woff') format('woff'),
        url('../fonts/UntitledSans-Medium.ttf') format('truetype'),
        url('../fonts/UntitledSans-Medium.svg#UntitledSans-Medium') format('svg');
    font-style: bold;
    font-weight: 600;
}

@font-face {
    font-family: 'UntitledSans-Regular';
    src: url('../fonts/UntitledSans-Regular.woff2') format('woff2'),
        url('../fonts/UntitledSans-Regular.woff') format('woff'),
        url('../fonts/UntitledSans-Regular.ttf') format('truetype'),
        url('../fonts/UntitledSans-Regular.svg#UntitledSans-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

.text-body{
    font-family: 'UntitledSans-Regular';
}

.text-medium{
    font-family: 'UntitledSans-Medium'; 
}