form{
    overflow: hidden;

    input,
    select{
        border: 0;
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid;
        margin-bottom: 6px;
        line-height: normal;
        background: white;
        border-radius: 0;

        &:focus,
        &:active{
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: black;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: black;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: black;
        }
        &:-ms-input-placeholder {
            color: black;
        }
    }

    select{
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .select-wrap{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: 23px;
            right: 15px;
            display: block;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 7px solid black;
        }
    }
}

.btn{
    border-radius: 0;
    border: 1px solid;
    float: right;
    width: 195px;
    padding: 10px 15px;
    max-width: 100%;

    &.btn-default{
        background: transparent;
        color: black;

        &:hover{
            background: $blue;
            color: white;

            svg{
                fill: white !important;
            }
        }
    }

    svg{
        margin-left: 5px;
    }
}