html,
body {
    @extend .text-body;
    @extend .body-size;
    position: relative;
    overscroll-behavior-y: none; //fixed to appear background dots on OSX
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    line-height: 90%;
    color: white;
    padding: 0;
    margin: 0;

    &.loading{
        overflow: hidden !important;
    }

    @media #{$tablet}{
        &.mobile-menu{
            overflow: hidden !important;
        }
    }
}

.back-part{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.main{
    margin-bottom: calc(100vh + 25px);
    position: relative;
    z-index: 10;

    &.clear-left{
        .sticky-el{
            transform: translateX(-100%);
        }

        section .no-gutters:after{
            width: 0 !important;
        }
    }
}

.wrap{
    margin-left: 20px;
    margin-right: 20px;

    @media #{$tablet}{
        margin-left: 10px;
        margin-right: 10px;
    }
    @media #{$custom-breakpoint}{
        margin-left: 20px;
        margin-right: 20px;
    }
    @media #{$custom-mobile}{
        margin-left: 20px; 
        margin-right: 20px;
    }
}

.menu {
    padding: 0;
    li {
        list-style: none;
    }
}

a {
    padding-bottom: 1px;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        border: 0 !important;
        color: white;
    }
}

hr{
    margin: 0;
    border-top: 1px solid $border-grey;
}

small{
    @extend .small-size;

    p{
        @extend .small-size;
    }
}

.col-left{
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 100%;
    left: 0;

    @media #{$tablet}{
        width: 100%;
        height: auto;
    }
}

#back-part{
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    > div{
        max-width: 100%;
    }
    .footer-sticky{
        max-width: 100%;
        min-height: 600px;
        max-height: 1200px;
        height: 100vh;

        footer{
            margin-top: 0;
            position: absolute;
            visibility: visible;
            z-index: 100;
            opacity: 1;
            bottom: 0;
        }
    }
}

#sticky{
    position: relative;
    min-height: 600px;
    max-height: 1200px;
    height: 100vh;
    z-index: 5;

    @media #{$tablet}{
        display: none;
        background: $blue;
        position: relative !important;
        width: auto !important;
        min-height: inherit;
        max-height: inherit;
        height: auto;

        h1{
            display: none;
        }
    }
}

section.section{
    @extend .bg-blue;
    overflow: hidden;
    position: relative;
    
    .col-right{
        position: relative;
        z-index: 0;
    }
    > .row:after,
    .fp-tableCell > .row:after{
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 55%;
        height: 100%;
        background-color: $blue;
        @include animate(.7s, transform, cubic-bezier(.26,.1,.25,1));
        transform: translate(85%, 0);
    }
    &.loaded{
        > .row:after,
        .fp-tableCell > .row:after{
            width: 50%;
            transform: translate(0, 0);
        }
    }
    .sticky{
        @include animate(.5s, top, cubic-bezier(0.1, 0.01, 0, 1));
        background-color: $blue;
        overflow: hidden;
        z-index: 110;
        position: fixed;
        width: 50%;
        display: none;
        left: 0;
        top: 0;
        
        &.loaded{
            h1{
                opacity: 1;
            }
        }
        h1{
            @include animate(1s, opacity, cubic-bezier(0.4, 0.0, 0.2, 1));
            padding: 0 20px;
            margin-top: 50px;
            opacity: 0;        
        }
        &.stuck{
            @include animate(.5s, all, linear);
            position: absolute;
            width: auto;
        }
    }
    &.active{
        z-index: 10;
        .sticky{
            display: block;
        }
    }
    @media #{$tablet}{
        > .row:after,
        .fp-tableCell > .row:after{
            display: none;
        }
        .sticky{
            top: 0 !important;
            width: 100%;
            position: absolute;
            background: transparent;
            display: block;
            h1{
                padding: 0 10px;
            }
        }
    }
    @media #{$custom-breakpoint}{
        .top-heading{
            h4{
                margin: 0;
            }
            &.spacing-top-24,
            &.spacing-top-20{
                padding-top: 20px;
            }
            &.spacing-bottom-24,
            &.spacing-bottom-20{
                padding-bottom: 20px;
            }
        }
        .description{
            p:first-of-type{
                margin-top: -6px;
            }
        }
    }
    @media #{$custom-mobile}{
        .description{
            p{
                font-size: 18px;
            }
        }
        .top-heading{
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
}

.scrollable-el{
    height: 100vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.sticky-el{
    @include animate(.7s, transform, cubic-bezier(.26,.1,.25,1));
    position: fixed;
    transform: translateX(0%);
    z-index: 100;
    width: 50%;
    left: 0;
    
    .block-heading{
        @include animate(1s, opacity, cubic-bezier(0.4, 0, 0.2, 1));
        opacity: 0;
    
        &.loaded{
            opacity: 1;
        }

        &.animate-top{
            @include animate(.4s, top, cubic-bezier(0.4, 0, 0.2, 1));
        }
    }
    &.sticky-header{
        top: 0;

        .footer-1{
            display: none;
        }
    }
    &.sticky-footer{
        bottom: 0;
    }
    @media #{$tablet}{
        @include animate(.4s, all, cubic-bezier(0.26, 0.1, 0.25, 1));
        z-index: 1000;
        background: $blue;
        width: 100%;

        &.sticky-header{
            .footer-1{
                @include animate(.3s, opacity, ease);
                display: block;
            }
            &.disable-header{
                transform: translateY(-100%) !important;
                opacity: 0;
            }
        }
        &.sticky-footer{
            display: none;
        }
        .block-heading{
            display: none;
        }
        &.headroom--unpinned,
        &.headroom--top{
            top: -175px;

            .footer-1{
                opacity: 0;
            }
        }
        .menu-toggle{
            background: $blue;
            &.collapsed{
                box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
            }
        }
        header{
            > div {
                background: transparent;
            }
            .menu{
                padding: 0;
            }
        }
        > .wrap{
            margin: 0;
        }
        .header-menu{
            @include animate(.4s, transform, cubic-bezier(0.72, 0.01, 0.46, 1));
            position: fixed;
            max-height: inherit;
            transform: translateY(-100%);
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            height: 100vh;
            padding: 55px 20px 0;

            > div{
                border-top: 1px solid;
                padding-top: 20px;
            }
            &.active{
                @include animate(.6s, transform, cubic-bezier(0.55, 0, 0.07, 1));
                transform: translateY(0%);
            }
        }
        .menu-wrap{
            top: 0;

            a{
                position: relative;
                height: 50px;
                height: 53px;
            }
        }
    }
    @media #{$custom-breakpoint}{
        .header-menu{
            li{
                line-height: 100%;
            }
            a{
                font-size: 20px;
            }
        }

        .menu-toggle.collapsed{
            box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
        }
    }
}


.accordion{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;

    li{
        list-style: none;
        border-top: 1px solid black;

        &.active{
            // .body{
            //     height: 0 !important;
            // }

            .btn-collapse{
               
                svg{
                    @include rotate(0deg);
                }
            }
        }
        .btn-collapse{
            @extend .text-medium;
            position: relative;
            color: black;
            display: block;
            padding-bottom: 0;

            svg{
                @include rotate(180deg);
                @include animate(.2s, all, ease-in-out);
                width: 20px;
                height: 20px;
                top: -4px;
                right: 20px;
                position: absolute;
            }
        }
        .body{
           // @include animate(.5s, height, cubic-bezier(0.1, 0.01, 0, 1));
            background-color: $white2;
            line-height: 128%;
            position: relative;
            overflow: hidden;

            .sub-heading p{
                margin-left: 10px;
                margin-right: 10px;
            }

            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                border-top: 1px solid $border-grey;
            }
            a{
                color: black;
                border-bottom: 1px solid;
            }
            p{
                &:first-of-type{
                    @extend .spacing-top-24;
                }
            }
        }
    }

    @media #{$tablet}{
        li{
            .body > div{
                padding-top: 14px;
            }
        }
    }

    @media #{$custom-breakpoint}{
        .spacing-bottom-24 {
            padding-bottom: 20px;
        }
        .spacing-top-24 {
            padding-top: 20px;
        }
        li{
            .btn-collapse{
                font-size: 16px;
                svg{
                    right: 10px;
                }
            }
            .body{
                > div{
                    padding-top: 20px;
                }
                p:first-of-type{
                    padding-top: 0;
                }
                .spacing-right-10{
                    padding-left: 10px;
                }
            }
        }
    }

    @media #{$custom-mobile}{
        .spacing-top-24{
            padding-top: 18px;
        }
        .spacing-bottom-24{
            padding-bottom: 18px;
        }
        li{
            .body{
                .spacing-right-10{
                    padding-left: 10px;
                }
                > div{
                    padding-top: 0;
                }
                .sub-heading{
                    p{
                        margin-top: 18px;
                        margin-bottom: 18px;
                    }
                }
                p:first-of-type{
                    padding-top: 0;
                }
            }
        }
    }
}


// /* width */
// ::-webkit-scrollbar {
//     position: absolute;
//     z-index: 9999;
//     width: 8px;
//     bottom: 2px;
//     top: 2px;
//     //right: 1px;
//     overflow: hidden;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     //box-shadow: inset 0 0 5px grey; 
//     border-radius: 10px;
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//     box-sizing: border-box;
//     position: absolute;
//     background: rgba(0, 0, 0, 0.5);
//     //border: 1px solid rgba(255, 255, 255, 0.9);
//     border-radius: 3px;
//     width: 100%;
//     transition-duration: 0ms;
//     display: block;
//     height: 201px;
//     transform: translate(0px, 542px) translateZ(0px);
//     transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     //background: #b30000; 
// }

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
td,
th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

q:after,
q:before {
    content: '';
    content: none
}

sub,
sup {
    font-size: 50%;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.8em;
    font-size: 0.5em;
}