.clone{
    opacity: 0;
    position: relative;
    z-index: -1;
    visibility: hidden;
}

.full-height{
    height: 100vh;
}

.full-width{
    width: 100%;
}

.bg-blue {
    background-color: $blue;
}

.bg-patterns{
    background:
        -moz-radial-gradient($blue 20%, transparent 21%),
        white;
    background:
        -webkit-radial-gradient($blue 20%, transparent 21%),
        white;
    background:
        -ms-radial-gradient($blue 20%, transparent 21%),
        white;
        background-position: 0 0, 19px 19px;
    
        -webkit-background-size: 19px 19px;
        -moz-background-size: 19px 19px;
        -ms-background-size: 19px 19px;
        background-size: 19px 19px;
}

.spacing-left-40{
    padding-left: 40px;
    @media #{$ipadl}{
        padding-left: 20px;
    }
    @media #{$tablet}{
        padding-left: 0;
    }
}

.spacing-right-25{
    padding-right: 25px;
    @media #{$tablet}{
        padding-right: 0;
    }
}

.spacing-right-10{
    padding-right: 10px;
    @media #{$tablet}{
        padding-right: 0;
    }
}

.spacing-right-40{
    padding-right: 40px;

    @media #{$tablet}{
        padding-right: 0;
    }
}

.spacing-right-20{
    padding-right: 20px;
}

.spacing-top-48{
    padding-top: 48px;

    @media #{$tablet}{
        padding-top: 24px;
    }
}

.spacing-top-20 {
    padding-top: 20px;

    @media #{$tablet}{
        padding-top: 10px;
    }
}

.spacing-top-18 {
    padding-top: 18px;

    @media #{$ipadl}{
        padding-top: 16px;
    }
}

.spacing-top-10 {
    padding-top: 10px;
}

.spacing-top-24 {
    padding-top: 24px;

    @media #{$ipadl}{
        padding-top: 22px;
    }
    @media #{$tablet}{
        padding-top: 18px;
    }
}

.spacing-top-130 {
    padding-top: 130px;

    @media #{$tablet}{
        padding-top: 0;
    }
}

.spacing-top-100 {
    padding-top: 100px;

    @media #{$tablet}{
        padding-top: 48px;
    }
}

.spacing-bottom-100 {
    padding-bottom: 100px;

    @media #{$tablet}{
        padding-bottom: 48px;
    }
}

.spacing-bottom-52 {
    padding-bottom: 52px;

    @media #{$tablet}{
        padding-bottom: 24px;
    }
}

.spacing-bottom-48 {
    padding-bottom: 48px;

    @media #{$tablet}{
        padding-bottom: 24px;
    }
}

.spacing-bottom-24 {
    padding-bottom: 24px;

    @media #{$ipadl}{
        padding-bottom: 22px;
    }
    @media #{$tablet}{
        padding-bottom: 18px;
    }
}

.spacing-bottom-20 {
    padding-bottom: 20px;

    @media #{$tablet}{
        padding-bottom: 10px;
    }
}

.spacing-bottom-17 {
    padding-bottom: 17px;

    @media #{$tablet}{
        padding-bottom: 10px;
    }
}

.spacing-bottom-18 {
    padding-bottom: 18px;

    @media #{$ipadl}{
        padding-bottom: 16px;
    }
}

.spacing-bottom-10 {
    padding-bottom: 10px;
}

.bg-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100%;
    width: 100%;
}

.bg-white{
    background-color: white;
    color: black;
}

.bg-blue{
    background-color: $blue;
}

.bg-transparent{
    background: transparent;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
}

.row{
    margin-left: -10px;
    margin-right: -10px;
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left: 10px;
    padding-right: 10px;
}

.gallery-wrapper{
    img{
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        //cursor: move;
    }
    a{
        padding-bottom: 0;
    }
    .hold{
        img{
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
    }
    .left-arrow,
    .right-arrow{
        width: 16px;
        height: 15px;

        .cls-1{
            fill:#010101 !important;
        }
    }
    .gallery-prev{
        margin-right: 27px;
    }
    .total{
        margin-right: 7px;
    }
    // .owl-item {
    //     transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    // }
    // .owl-item.active {
    //     transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    // }
    .owl-stage {
        transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    }
    .owl-dots{
        display: none;
    }
    @media #{$tablet}{
        .left-arrow,
        .right-arrow{
            width: 14px;
            height: 13px;
        }
        .gallery-prev{
            margin-right: 16px;
        }
    }
}

.vertical-align{
    @include vertical-align(absolute);
    margin: 0 auto;
    left: 0;
    right: 0;
}

.mobile-view{
    display: none;

    @media #{$tablet}{
        display: block;
    }
}