.body-size{
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.0125em;
    word-spacing: 0.0125em;

    @media #{$ipadl}{
        font-size: 16px;
    }
    @media #{$tablet}{
        font-size: 14px;
    }
    @media #{$custom-breakpoint}{
        font-size: 16px;
    }
}

.small-size{
    font-size: 10px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.01em;
    word-spacing: 0.01em;

    @media #{$tablet}{
        letter-spacing: 0.01em;
        font-size: 8px;
    }
    @media #{$custom-breakpoint}{
        letter-spacing: 0.01em;
        font-size: 10px;
    }
}

.size-24{
    font-size: 24px;
    letter-spacing: -0.045em;
    line-height: 125%;
}

h1{
    @extend .text-body;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    //line-height: 1.05em;
    //letter-spacing: -.05em;
    //word-spacing: 0.05em;
    line-height: 1em; 
    letter-spacing: -.06em; 
    word-spacing: 0.06em;

    .arrow{
        @include animate(.5s, transform, ease);
        display: block;
        overflow: visible;
        width: 60px;
        margin-top: 10px;
        margin-left: 40px;
        cursor: pointer;
        transform: translateX(0px);
        
        #downline {
            transition: .5s ease;
            transform: scaleY(1);
            transform-origin: center;
        }
        
        #sideways {
            transition: .5s ease;
            transform: translateX(0px);
        }

        .cls-2{
            fill:white;
        }
    }
    @media #{$custom-breakpoint}{
        .arrow{
            width: 45px;
        }
    }
    @media #{$mobile}{
        .arrow{
            width: 45px;
        }
    }
    @media #{$custom-mobile}{
        .arrow{
            width: 35px;
        }
    }
}

h2 {
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.015em;
    word-spacing: 0.015em;
}

h3 {
    font-size: 10px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.01em;
    word-spacing: 0.01em;
}

h4{
    @extend .text-medium;
    @extend .body-size;
    margin-bottom: 25px;
}

p {
    //font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.0125em;
    word-spacing: 0.0125em;

    @media #{$ipadl}{
        margin-bottom: 20px;
    }
}

b,
strong {
    font-weight: 600;
    letter-spacing: -0.02em;
}

@media screen and (min-width: 0px) and (max-width: 599px) {
    h1 {
        font-size: 30px;
        letter-spacing: -.025em;
        word-spacing: 0.025em;
    }
    h2 {
        font-size: 18px;
        letter-spacing: -0.02em;
        word-spacing: 0.02em;
    }
    p {
        font-size: 14px;
        letter-spacing: -0.01em;
        word-spacing: 0.005em;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    h1 {
        font-size: 42px;
        letter-spacing: -.035em;
        word-spacing: 0.035em;
    }
    h2 {
        font-size: 22px;
        letter-spacing: -0.02em;
        word-spacing: 0.02em;
    }
    p {
        font-size: 16px;
        letter-spacing: -0.01em;
        word-spacing: 0.005em;
    }
}

@media #{$custom-breakpoint}{
    h1{
        font-size: 35px;
        letter-spacing: -.035em;
        word-spacing: 0.025em;
    }
    p, h4{
        font-size: 16px;
    }
}

@media screen and (min-width: 1801px) and (max-width: 10000px) {

    h1 {
    font-size: 50px;
    font-size: 3.47vw;
    font-size: 2.8em;
    }

    h2{
    font-size: 24px;
    font-size: 1.67vw;
    font-size: 1.5em;
    }
    
    .size-24{
    font-size: 24px !important;
    font-size: 1.67vw !important;
    }
    
    h4,
    body,
    .body-size{
    font-size: 18px !important;
    font-size: 1.25vw !important;
    font-size: 1.1em !important;
    }
    
    small,
    small p{
    font-size: 10px !important;
    font-size: 0.69vw !important;
    font-size: .73em !important;
    }
    
}

@media screen and (min-width: 1100px) and (max-width: 1800px) {

    h1 {
    font-size: 50px;
    font-size: 3.47vw;
    }
    
    .size-24{
    font-size: 24px !important;
    font-size: 1.67vw !important;
    }
    
    h4,
    body,
    .body-size{
    font-size: 18px !important;
    font-size: 1.25vw !important;
    }
    
    small,
    small p{
    font-size: 10px !important;
    font-size: 0.69vw !important;
    }
    
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
    h1 {
    font-size: 40px;
    font-size: 3.8vw;
    }
    
    .size-24{
    font-size: 22px !important;
    font-size: 2vw !important;
    }
    
    h4,
    body,
    .body-size{
    font-size: 16px !important;
    font-size: 1.45vw !important;
    }
    
    small,
    small p{
    font-size: 10px !important;
    font-size: 0.75vw !important;
    }
}