$bigDesktop: "only screen and (min-width : 1441px)";
$wide: "only screen and (max-width : 1200px)";
$ipadl: "only screen and (max-width : 1024px)";
$desktop: "only screen and (max-width : 992px)";
$tablet: "only screen and (max-width : 767px)";
$tablet-landscape: "only screen and (max-width : 1024px) and (max-height:768px)";
$mobile: "only screen and (max-width : 480px)";
$custom-breakpoint: "screen and (min-width: 413px) and (max-width: 899px)";
$custom-mobile: "screen and (min-width: 374px) and (max-width: 412px)";
$iPhone6p: "only screen and (max-width : 414px)";
$iPhone6l: "only screen and (max-width : 667px)";
$iPhone6: "only screen and (max-width : 375px)";
$iPhone-retina: "only screen and (max-width : 320px)";
$blue: #0000FF;
$grey: #777777;
$border-grey: #DDDDDD;
$border-table: #979794;
$white2: #FDFDFD;